<a href="https://colab.research.google.com/github/eildes06/Assigments/blob/main/Assignment_1_Emine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="Rossum"></p>

In this assignment you will start off with Numpy Exercises and then complete the whole Exercise with Pandas questions. All the subjects related to questions here already covered in preclass materials and in-class sessions. So good luck!

#### 1. Import NumPy Library

In [1]:
import numpy as np

In [ ]:
my_list=[5,10,15,20,25]
np.array(my_list)

#### 2. Create an array from my_list=[5,10,15,20,25]

In [25]:
my_list=[2,1,0,15,20,25]
np.array(my_list)

array([ 2,  1,  0, 15, 20, 25])

array([ 5, 10, 15, 20, 25])

#### 3. Generate an array 5x5 zeros

In [26]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [27]:
np.ones((4,4),dtype="int")

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

#### 4. Generate an array 4x4 ones assign data type int

In [28]:
np.ones((4,4),dtype="int")

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [ ]:
np.ones((4,4),dtype="int")

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

#### 5. Make all the values of the array above 7

In [29]:
np.ones((4,4),dtype="int")*7

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

In [ ]:
np.ones((4,4),dtype="int")*7

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

#### 6. Create same array above with full method

In [30]:
np.full((4,4),7,dtype="int")

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

#### 7. Create an array of even integers from 2 to 16

In [31]:
np.arange(2,17,2)

array([ 2,  4,  6,  8, 10, 12, 14, 16])

In [ ]:
np.arange(2,17,2)

array([ 2,  4,  6,  8, 10, 12, 14, 16])

#### 8. Create a 5x5 matrix with values between 0 to 25

In [32]:
np.arange(25).reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [2]:
np.arange(25).reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

#### 9. Create a 5x5 matrix with values between 0 to 25 using linspace

In [33]:
np.linspace(0,25,25, dtype="int",endpoint=False).reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

#### 10. Create 5 random number with numpy

In [7]:
np.random.rand(5)

array([0.10115567, 0.97926251, 0.52261269, 0.66280792, 0.09251622])

In [ ]:
np.random.rand(5)

array([0.76358107, 0.87803301, 0.80945923, 0.58642508, 0.32335644])

#### 11. Create random normal distributed 5x5 array

In [6]:
np.random.randn(25)

array([-0.05547232,  0.12405854,  1.86785084,  0.19752713,  0.69364882,
        0.59635256, -1.17916871,  1.74524522,  1.19433611,  0.01205551,
       -0.18777876,  1.15295948,  0.36789007, -1.71447002,  0.89343281,
        0.54737228, -0.08860954, -0.13963787,  1.16454627, -0.77971756,
        1.06624371, -0.25292963,  0.91295541, -0.64393775,  0.69012985])

array([[-1.88145979, -0.33694765,  1.00329733, -0.78862807, -0.95450456],
       [ 1.3872682 , -1.05838181,  1.38137969, -0.58068211, -1.45203318],
       [-0.1202232 , -0.02930381,  0.46451676, -0.62666937, -0.14675805],
       [-0.30564453,  1.83376643,  0.82751037, -0.63556272,  1.44643513],
       [ 0.63463514, -0.67219484, -0.17806175,  0.81716206, -1.14449609]])

#### 12. Create 3x4 shaped array with random int numbers between 20 and 50 with numpy

In [8]:
np.random.randint(20,50,12).reshape(3,4)

array([[26, 37, 34, 42],
       [36, 48, 41, 45],
       [26, 28, 37, 45]])

In [ ]:
np.random.randint(20,50,12,size=(3,4))

array([[41, 44, 49, 32],
       [43, 20, 20, 49],
       [26, 39, 39, 44]])

#### 13. Reshape the array below with shape 6x8

In [34]:
ranarr =np.random.randint(0,60,48)

In [35]:
ranarr

array([16, 33, 30, 51, 51, 32, 22, 41, 27, 15, 42, 53, 58, 58, 37, 50, 55,
       55, 41,  8, 36, 39, 55, 40, 14, 27,  5, 55,  4, 32, 15, 13, 15,  5,
        7, 24, 59, 13, 59, 50, 32, 25,  4, 29, 20, 15, 40, 40])

In [ ]:
ranarr

array([52, 48, 21, 29, 15, 35,  3, 29, 43, 48, 38,  8, 44,  2, 46, 27, 11,
       29, 30, 26,  8, 49, 19,  2,  9, 38, 40, 36, 16, 41, 39, 17, 20, 42,
       23, 35, 45, 18, 40,  9, 36, 37,  5, 17, 44, 36,  2, 52])

In [ ]:
ranarr.reshape(6,8)

array([[52, 48, 21, 29, 15, 35,  3, 29],
       [43, 48, 38,  8, 44,  2, 46, 27],
       [11, 29, 30, 26,  8, 49, 19,  2],
       [ 9, 38, 40, 36, 16, 41, 39, 17],
       [20, 42, 23, 35, 45, 18, 40,  9],
       [36, 37,  5, 17, 44, 36,  2, 52]])

In [36]:
ranarr.reshape(6,8)

array([[16, 33, 30, 51, 51, 32, 22, 41],
       [27, 15, 42, 53, 58, 58, 37, 50],
       [55, 55, 41,  8, 36, 39, 55, 40],
       [14, 27,  5, 55,  4, 32, 15, 13],
       [15,  5,  7, 24, 59, 13, 59, 50],
       [32, 25,  4, 29, 20, 15, 40, 40]])

In [37]:
ranarr.reshape(-1,8)#tek boyutluu colum yapicaz 6*8 elimizde 48 degeri 8 boluyor 6 yi kendi buluyor
#6 satir olsa iseydi ne kdar sutun oluyrsa gerisini kendi hesapliyor

array([[16, 33, 30, 51, 51, 32, 22, 41],
       [27, 15, 42, 53, 58, 58, 37, 50],
       [55, 55, 41,  8, 36, 39, 55, 40],
       [14, 27,  5, 55,  4, 32, 15, 13],
       [15,  5,  7, 24, 59, 13, 59, 50],
       [32, 25,  4, 29, 20, 15, 40, 40]])

In [ ]:
#reshape with -1

array([[52, 48, 21, 29, 15, 35,  3, 29, 43, 48, 38,  8],
       [44,  2, 46, 27, 11, 29, 30, 26,  8, 49, 19,  2],
       [ 9, 38, 40, 36, 16, 41, 39, 17, 20, 42, 23, 35],
       [45, 18, 40,  9, 36, 37,  5, 17, 44, 36,  2, 52]])

In [ ]:
ranarr.reshape(12,-1)

## Numpy Indexing and Selection

In [38]:
mat=np.arange(1,17).reshape(4,4)
mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [ ]:
mat=np.arange(1,17).reshape(4,4)
mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [11]:
mat=np.arange(1,17).reshape(4,4)
mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [ ]:
#Create array below
mat=np.arange(1,17).reshape(4,4))
mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

#### 14. Write code that reproduces the output shown below.<br>

In [13]:
mat[1:3,1:3]

array([[ 6,  7],
       [10, 11]])

array([[ 6,  7],
       [10, 11]])

#### 15. Get the first column of the array.

In [14]:
mat[:,0]

array([ 1,  5,  9, 13])

array([ 1,  5,  9, 13])

#### 16. Get the values in 2nd row for every 2 step.

In [15]:
mat[1,::2]

array([5, 7])

In [ ]:
#bastan sonra stepi iki belirle heee

array([5, 7])

#### 17.Assign 77 to every cell in 3rd column.

In [17]:
mat[:,2]=77
mat

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

In [ ]:
mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [ ]:

mat

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

In [ ]:
mat[[1,3],[0,2]]

#### 18. Take 2nd row 1st column, 4th row 2nd column.

In [19]:
mat[[1,3],[0,1]]#fancy indexing

array([ 5, 14])

array([ 5, 14])

#### 19. Take between 2nd and last row with step 2 and between 1 and last column with step 2.

In [20]:
mat[1::2,::2]

array([[ 5, 77],
       [13, 77]])

In [22]:
mat[[1::2,[0,2]]

SyntaxError: ignored

array([[ 5, 77],
       [13, 77]])

## NumPy Operations

#### 20. Get the sum of values smaller than 10 and values bigger than 12 from array above

In [42]:
mat[mat<10]

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [44]:
mat[mat>12]

array([13, 14, 15, 16])

In [45]:
mat[mat<10] + mat[mat>12]

ValueError: ignored

In [ ]:
a=mat[mat<10]
a

In [ ]:
mat

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

In [ ]:
mat[mat<10]

array([1, 2, 4, 5, 6, 8, 9])

In [ ]:
b=mat[mat>12]
b

array([77, 77, 77, 13, 14, 77, 16])

array([78, 79, 81, 18, 20, 85, 25])

#### 21. Get the standard deviation of the result above

In [ ]:
np.std(arr_sum)

29.700546274093877

#### 22. Get the sum of second column from array above

In [47]:
mat[:,2]=[3,7,11,15]
mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [ ]:
#print array here
mat

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

32

In [48]:
sum ( mat [ : , 1 ] )

32

#### 23. Get the median,mean and std of 3rd row from array above

In [53]:
mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [ ]:
mat[2]

array([ 9, 10, 11, 12])

In [54]:
from numpy.lib.function_base import median
#median
np.median(mat[2])

10.5

In [55]:
np.median(mat[2])

10.5

In [ ]:
#mean

10.5

In [56]:
np.mean(mat[2])

10.5

In [57]:
np.std(mat[2])

1.118033988749895

In [ ]:
#std

1.118033988749895

# Pandas Section

In [59]:
import pandas as pd

**Read Salaries.csv take a look at first 5 rows, df info and df statistical measurements**

In [67]:
sal=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Salaries.csv')

In [64]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [ ]:
sal.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448841,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

**How many different year value are there**

In [68]:
sal.Year.value_counts()

2014    38123
2013    37606
2012    36766
2011    36159
Name: Year, dtype: int64

2014    38123
2013    37606
2012    36766
2011    36159
Name: Year, dtype: int64

**Print out max and avg Totalpay**

In [69]:
sal.TotalPay.max()

567595.43

In [ ]:
#max

567595.43

In [70]:
sal.TotalPay.mean()

74768.321971703

In [ ]:
#avg

74768.321971703

**How many records are there which have TotalPay bigger than avg TotalPay**

In [ ]:
records = sal[sal['TotalPay'] > sal['TotalPay'].mean()].TotalPay
records.count()                                                       # cret karlatrmas, ortalamadan byk cret alan kayt bilgilerinin getirilmesi

69489

**How much does ALBERT PARDINI make (including benefits)?**

In [ ]:
sal[sal["EmployeeName"]=="ALBERT PARDINI "][]

In [ ]:
sal[sal['EmployeeName'] == 'ALBERT PARDINI']['TotalPayBenefits']

2    335279.91
Name: TotalPayBenefits, dtype: float64

In [ ]:
sal[sal["EmployeeName"]=="ALBERT PARDINI"]

**Who is lowest paid person**

In [71]:
sal[sal.TotalPayBenefits==sal.TotalPayBenefits.min()]["EmployeeName"]

148653    Joe Lopez
Name: EmployeeName, dtype: object

**What are the unique Jobs in dataset?**

In [72]:
sal["JobTitle"].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [73]:
sal.JobTitle.value_counts().tail(3)

SENIOR MEDICAL TRANSCRIBER TYPIST     1
ELECTRICAL ENGINEERING ASSOCIATE I    1
ASPHALT PLANT SUPERVISOR I            1
Name: JobTitle, dtype: int64

**List 3 least common Jobs**

In [75]:
sal[(sal.TotalPayBenefits>sal.TotalPayBenefits.mean())&(sal.Year==2012)]["EmployeeName"].count

<bound method Series.count of 36159        Gary Altenberg
36160          Gregory Suhr
36161            Khoa Trinh
36162    Joanne Hayes-White
36163     Frederick Binkley
                ...
56520          Sue Madrigal
56521     Concepcion Gruber
56522           Kerman Chan
56523        Ramon Lafuente
56524        Lai Ping Szeto
Name: EmployeeName, Length: 20366, dtype: object>

In [ ]:
sal['JobTitle'].value_counts().tail(3)

COURT COMPUTER FACILITIES COORDINATOR             1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I    1
VICTIM & WITNESS TECHNICIAN                       1
Name: JobTitle, dtype: int64

**How many people earned more than avg in 2012**

4110

In [ ]:
len(sal[sal["TotalPayBenefits"]>sal["TotalPayBenefits"].mean()].loc[sal['Year'] == 2012])

20366

**How many people have the word Manager in their job title?**

In [78]:
def manager_func(x):
  if"manager" in x.lower():
     return True
  else:
     return False

In [79]:
len(sal[sal.JobTitle.apply(lambda x:manager_func(x))])

4110

In [ ]:
#use apply function here

4110

**Take Id,EmployeeName,JobTitle,TotalPay and TotalPayBenefits columns with iloc and assign it as sal_new dataframe**

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [ ]:
sal_new=sal.iloc[:,[1,2,7,8]]                  
sal_new

,Id,EmployeeName,JobTitle,TotalPay,TotalPayBenefits
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43,567595.43
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28,538909.28
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),335279.91,335279.91
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,332343.61,332343.61
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",326373.19,326373.19
...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00
148650,148651,Not provided,Not provided,0.00,0.00
148651,148652,Not provided,Not provided,0.00,0.00
148652,148653,Not provided,Not provided,0.00,0.00
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",-618.13,-618.13

**Take columns betweeen EmployeeName and TotalPayBenefits with loc and assign it o sal_new df**

In [ ]:
sal_new=sal.loc[:, ['EmployeeName','JobTitle','BasePay','OvertimePay','OtherPay','Benefits','TotalPay','TotalPayBenefits']]     # loc olduu iin label lar ile aryoruz
sal_new

,EmployeeName,JobTitle,TotalPay,TotalPayBenefits
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43,567595.43
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28,538909.28
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),335279.91,335279.91
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,332343.61,332343.61
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",326373.19,326373.19
...,...,...,...,...
148649,Roy I Tillery,Custodian,0.00,0.00
148650,Not provided,Not provided,0.00,0.00
148651,Not provided,Not provided,0.00,0.00
148652,Not provided,Not provided,0.00,0.00
148653,Joe Lopez,"Counselor, Log Cabin Ranch",-618.13,-618.13

**Print out the names of the employees who earn more than min, but less than avg**

In [ ]:
sal[sal.TotalPayBenefits> sal.TotalPayBenefits.min()& TotalPayBenefits<sal.TotalPayBenefits.mean())][""]

In [ ]:
sal[(sal["TotalPayBenefits"]>sal["TotalPayBenefits"].min()) & (sal["TotalPayBenefits"]<sal["TotalPayBenefits"].mean())]["EmployeeName"]

10806            KWE LEE
10807     MIGUEL CARO JR
10808      JOANNE MORRIS
10809      LAYLA WELBORN
10810            LE BANH
               ...
148648       Leon Walker
148649     Roy I Tillery
148650      Not provided
148651      Not provided
148652      Not provided
Name: EmployeeName, Length: 75649, dtype: object

In [1]:
sal[(sal["TotalPayBenefits"]>sal["TotalPayBenefits"].min()) & (sal["TotalPayBenefits"]<sal["TotalPayBenefits"].mean())][["EmployeeName"]]

NameError: ignored