<a href="https://colab.research.google.com/github/eildes06/Assigments/blob/main/DAwPython_Capstone_(AutoScout)_Project_Student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 1 `( Data Cleaning )`

In [9]:
import json
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
from pylab import rcParams
sns.set_style("darkgrid")
import plotly
import plotly.express as px
import plotly.graph_objs as go
import plotly.offline as py
from plotly.offline import iplot
from plotly.subplots import make_subplots
import plotly.figure_factory as ff
import warnings
warnings.filterwarnings("ignore")

In [10]:
scout_car = pd.read_json ('/content/scout_car.json', lines = True)
df = scout_car.copy()
df.sample(3)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
10589,https://www.autoscout24.com//offers/opel-insig...,Opel Insignia,Sports Tourer Innovation 1.6 CDTI Navi Dyn. Ku...,Station wagon,15990,None,"79,984 km",06/2016,None,NaN,...,"[\n, Getriebe:, Automatik, Technik:, Bordcom...",NaN,[\n6\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
13703,https://www.autoscout24.com//offers/renault-cl...,Renault Clio,Ste 1.5 dCi 75ch energy Air MédiaNav,None,7690,VAT deductible,"63,372 km",01/2017,None,NaN,...,[\nABS Clim manuelle ESP GPS Cartographique Ki...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3992,https://www.autoscout24.com//offers/audi-a3-sp...,Audi A3,SPORTBACK 1.6 TDI 116 CV EDITION S-TRONIC,Sedans,19770,None,"33,394 km",09/2017,1 previous owner,NaN,...,[\nPREZZO REALE!!! VETTURE DISPONIBILE IN SEDE...,NaN,[\n7\n],[\nItaly\n],NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.sample(3).T

,15223,10051,761
url,https://www.autoscout24.com//offers/renault-es...,https://www.autoscout24.com//offers/opel-corsa...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Renault Espace,Opel Corsa,Audi A1
short_description,dCi 160 Zen Energy TT EDC 118 kW (160 CV),1.4 Aut. Active +PDC+IntelliLink+Kamera+,Sportback 1.0TFSI NAV PDC FSE KLIMA MUFU 17
body_type,Station wagon,Compact,Compact
price,19950,15890,13999
vat,VAT deductible,VAT deductible,VAT deductible
km,"66,000 km","3,201 km","46,892 km"
registration,01/2016,01/2019,07/2016
prev_owner,None,None,1 previous owner
kW,NaN,NaN,NaN
hp,118 kW,66 kW,70 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Super 95]","[, Used, , Super 95]"
Previous Owners,NaN,NaN,\n1\n
Next Inspection,NaN,"[\n06/2021\n, \n149 g CO2/km (comb)\n]",NaN
Inspection new,NaN,"[\nYes\n, \nEuro 6d-TEMP\n]","[\nYes\n, \n98 g CO2/km (comb)\n]"
Warranty,\n12 months\n,"[\n, \n, \n4 (Green)\n]","[\n12 months\n, \nEuro 6\n]"
Full Service,NaN,"[\n, \n]","[\n, \n, \n4 (Green)\n]"
Non-smoking Vehicle,"[\n, \n, \n120 g CO2/km (comb)\n]",NaN,"[\n, \n]"
null,[],[],[]
Make,\nRenault\n,\nOpel\n,\nAudi\n
Model,"[\n, Espace, \n]","[\n, Corsa, \n]","[\n, A1, \n]"
Offer Number,[\n4917299\n],[\n12672\n],[\n15157\n]
First Registration,"[\n, 2016, \n]","[\n, 2019, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Blue, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n]
Body Color Original,NaN,[\nTiefsee Blau Metallic\n],[\nmythosschwarz metallic\n]
Upholstery,[\nGrey\n],"[\nCloth, Black\n]","[\nCloth, Grey\n]"
Body,"[\n, Station wagon, \n]","[\n, Compact, \n]","[\n, Compact, \n]"
Nr. of Doors,[\n5\n],[\n5\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n5\n],[\n5\n]
Model Code,NaN,[\n0035/BCB\n],[\n0588/BDB\n]
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Manual, \n]"
Displacement,"[\n1,598 cc\n]","[\n1,398 cc\n]",[\n999 cc\n]
Cylinders,[\n4\n],[\n4\n],[\n3\n]
Weight,"[\n1,659 kg\n]","[\n1,199 kg\n]","[\n1,135 kg\n]"
Drive chain,[\nfront\n],[\nfront\n],NaN
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Super 95, \n]","[\n, Super 95, \n]"
Consumption,"[[4.6 l/100 km (comb)], [5 l/100 km (city)], [...","[[6.6 l/100 km (comb)], [8.2 l/100 km (city)],...","[[4.3 l/100 km (comb)], [5.1 l/100 km (city)],..."
CO2 Emission,[\n120 g CO2/km (comb)\n],[\n149 g CO2/km (comb)\n],[\n98 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6d-TEMP\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Cruise control, El...","[Air conditioning, Cruise control, Electricall...","[Air conditioning, Electrical side mirrors, Le..."
\nEntertainment & Media\n,"[Bluetooth, On-board computer, Radio]","[Bluetooth, Hands-free equipment, MP3, On-boar...","[Bluetooth, CD player, Hands-free equipment, M..."
\nExtras\n,"[Alloy wheels, Voice Control]","[Alloy wheels, Touch screen, Voice Control]","[Alloy wheels, Catalytic Converter, Voice Cont..."
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Daytime running light..."
description,[\n343 Euros/mes SIN entrada. Admitimos tu coc...,"[\n, * Paket: Feel-Good - Rückfahrkamera - Pa...","[\n, Getriebe:, Schaltgetriebe, Technik:, Bo..."
Emission Label,NaN,NaN,NaN
Gears,[\n6\n],[\n6\n],[\n5\n]
Country version,NaN,[\nGermany\n],NaN
Electricity consumption,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN
Availability,NaN,\nin 3 days from ordering\n,NaN
Last Timing Belt Service Date,NaN,NaN,NaN
Available from,NaN,NaN,NaN

In [12]:
df.shape

(15919, 54)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [15]:
df.describe()

              price   kW
count  15919.000000  0.0
mean   18019.896727  NaN
std     7386.169409  NaN
min       13.000000  NaN
25%    12850.000000  NaN
50%    16900.000000  NaN
75%    21900.000000  NaN
max    74600.000000  NaN

In [22]:
df.describe(include="object").T

,count,unique,top,freq
url,15919,15919,https://www.autoscout24.com//offers/audi-a1-sp...,1
make_model,15919,9,Audi A3,3097
short_description,15873,10001,SPB 1.6 TDI 116 CV S tronic Sport,64
body_type,15859,9,Sedans,7903
vat,11406,2,VAT deductible,10980
km,15919,6690,10 km,1045
registration,15919,48,-/-,1597
prev_owner,9091,4,1 previous owner,8294
hp,15919,81,85 kW,2542
Type,15917,169,"[, Used, , Diesel (Particulate Filter)]",3475
Previous Owners,9279,102,\n1\n,8101
Next Inspection,3535,1399,\n04/2022\n,62
Inspection new,3932,202,"[\nYes\n, \nEuro 6\n]",523
Warranty,10499,515,"[\n, \n, \nEuro 6\n]",1868
Full Service,8215,122,"[\n, \n, \n4 (Green)\n]",2235
Non-smoking Vehicle,7177,94,"[\n, \n]",3647
null,15919,1,[],15919
Make,15919,3,\nOpel\n,7343
Model,15919,9,"[\n, A3, \n]",3097
Offer Number,12744,11440,[\nLT67679\n],27
First Registration,14322,4,"[\n, 2018, \n]",4522
Body Color,15322,14,"[\n, Black, \n]",3745
Paint Type,10147,3,[\nMetallic\n],9794
Body Color Original,12160,1927,[\nOnyx Schwarz\n],338
Upholstery,12199,46,"[\nCloth, Black\n]",5821
Body,15859,9,"[\n, Sedans, \n]",7903
Nr. of Doors,15707,6,[\n5\n],11575
Nr. of Seats,14942,6,[\n5\n],13336
Model Code,4978,232,[\n0035/BCB\n],268
Gearing Type,15919,3,"[\n, Manual, \n]",8153
Displacement,15423,77,"[\n1,598 cc\n]",4761
Cylinders,10239,7,[\n4\n],8105
Weight,8945,434,"[\n1,163 kg\n]",574
Drive chain,9061,3,[\nfront\n],8886
Fuel,15919,77,"[\n, Diesel (Particulate Filter), \n]",4315
Consumption,14013,881,"[[3.9 l/100 km (comb)], [4.1 l/100 km (city)],...",304
CO2 Emission,14111,123,[\n120 g CO2/km (comb)\n],740
Emission Class,12898,7,[\nEuro 6\n],10139
\nComfort & Convenience\n,14999,6198,"[Air conditioning, Electrical side mirrors, Hi...",216
\nEntertainment & Media\n,14545,346,"[Bluetooth, Hands-free equipment, On-board com...",1282
\nExtras\n,12957,659,[Alloy wheels],3245
\nSafety & Security\n,14937,4443,"[ABS, Central door lock, Daytime running light...",538
description,15919,12874,[],636
Emission Label,3985,6,[\n4 (Green)\n],3553
Gears,11207,10,[\n6\n],5822
Country version,7586,23,[\nGermany\n],4502
Electricity consumption,137,1,[\n0 kWh/100 km (comb)\n],137
Last Service Date,566,266,"[\n02/2019\n, \nEuro 6\n]",23
Other Fuel Types,880,1,"[[], [], []]",880
Availability,635,15,\nin 90 days from ordering\n,196
Last Timing Belt Service Date,16,15,[\n04/2016\n],2
Available from,272,46,\n31/08/19\n,98

In [32]:
df.vat.nunique

<bound method IndexOpsMixin.nunique of 0          VAT deductible
1        Price negotiable
2          VAT deductible
3                    None
4                    None
               ...
15914      VAT deductible
15915      VAT deductible
15916      VAT deductible
15917      VAT deductible
15918      VAT deductible
Name: vat, Length: 15919, dtype: object>

In [16]:
df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
\nComfort & Convenience\n          920
\nEntertainment & Media\n         1374
\nExtras\n                        2962
\nSafety & Security\n              982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [35]:
df.vat.sample(15)

8027     VAT deductible
5984     VAT deductible
7693     VAT deductible
14697    VAT deductible
14215    VAT deductible
388                None
422                None
2744     VAT deductible
9740     VAT deductible
3680               None
8445     VAT deductible
15222    VAT deductible
4376     VAT deductible
14001    VAT deductible
14117              None
Name: vat, dtype: object

In [39]:
df.vat.isnull().sum()

4513

In [47]:
df["First Registration"].sample()

7762    [\n, 2019, \n]
Name: First Registration, dtype: object

In [48]:
df[["registration","First Registration"]].sample(15)
#first regstration delete edilebilir ayni bilgiyi icermekte

      registration First Registration
2668       11/2016     [\n, 2016, \n]
5025       02/2019     [\n, 2019, \n]
11012      06/2016     [\n, 2016, \n]
11480      03/2018     [\n, 2018, \n]
13481      02/2017     [\n, 2017, \n]
8568       06/2016     [\n, 2016, \n]
12164      02/2018     [\n, 2018, \n]
10304          -/-                NaN
8392       06/2018     [\n, 2018, \n]
12511      03/2019     [\n, 2019, \n]
15444          -/-                NaN
1481       07/2018     [\n, 2018, \n]
7240       09/2018     [\n, 2018, \n]
2503           -/-                NaN
14446      08/2018     [\n, 2018, \n]

In [49]:
df.prev_owner.describe()
#onceki kullanicilar onemli o yuzden kalsin dedik

count                 9091
unique                   4
top       1 previous owner
freq                  8294
Name: prev_owner, dtype: object

In [61]:
df.km.describe()

count     15919
unique     6690
top       10 km
freq       1045
Name: km, dtype: object

In [62]:
df.kW.describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: kW, dtype: float64

In [63]:
df.hp.describe()

count     15919
unique       81
top       85 kW
freq       2542
Name: hp, dtype: object

In [67]:
df.hp.nunique()

81

In [69]:
df.hp.unique()

array(['66 kW', '141 kW', '85 kW', '70 kW', '92 kW', '112 kW', '60 kW',
       '71 kW', '67 kW', '110 kW', '93 kW', '147 kW', '86 kW', '140 kW',
       '87 kW', '- kW', '81 kW', '82 kW', '135 kW', '132 kW', '100 kW',
       '96 kW', '162 kW', '150 kW', '294 kW', '228 kW', '270 kW',
       '137 kW', '9 kW', '133 kW', '77 kW', '101 kW', '78 kW', '103 kW',
       '1 kW', '74 kW', '118 kW', '84 kW', '88 kW', '80 kW', '76 kW',
       '149 kW', '44 kW', '51 kW', '55 kW', '52 kW', '63 kW', '40 kW',
       '65 kW', '75 kW', '125 kW', '120 kW', '184 kW', '239 kW', '121 kW',
       '143 kW', '191 kW', '89 kW', '195 kW', '127 kW', '122 kW',
       '154 kW', '155 kW', '104 kW', '123 kW', '146 kW', '90 kW', '53 kW',
       '54 kW', '56 kW', '164 kW', '4 kW', '163 kW', '57 kW', '119 kW',
       '165 kW', '117 kW', '115 kW', '98 kW', '168 kW', '167 kW'],
      dtype=object)

In [78]:
df["Type"].describe()

count                                       15917
unique                                        169
top       [, Used, , Diesel (Particulate Filter)]
freq                                         3475
Name: Type, dtype: object

In [80]:
df[["prev_owner","Previous Owners"]].sample(15)

             prev_owner                                    Previous Owners
13935  1 previous owner                                              \n1\n
7911               None                                                NaN
4649   1 previous owner                                              \n1\n
11417  1 previous owner                                              \n1\n
7770   1 previous owner                                              \n1\n
467    1 previous owner                                              \n1\n
10901  1 previous owner                                              \n1\n
13429              None                                                NaN
1276   1 previous owner                                              \n1\n
6113   1 previous owner                                              \n1\n
13863              None                                                NaN
7715   1 previous owner                                              \n1\n
8098               None  [\n0\n, \n, 5.4 l/100 km (comb), \n, 7.1 l/100...
12075  1 previous owner                                              \n1\n
10623  1 previous owner                                              \n1\n

In [82]:
df["prev_owner"].unique()

array(['2 previous owners', None, '1 previous owner', '3 previous owners',
       '4 previous owners'], dtype=object)

In [84]:
df["prev_owner"].isnull().sum()

6828

In [86]:
df[["Inspection new","Next Inspection"]].sample(15)

,Inspection new,Next Inspection
4163,NaN,"[\n03/2021\n, \n107 g CO2/km (comb)\n]"
5231,"[\nYes\n, \n117 g CO2/km (comb)\n]",NaN
13206,NaN,NaN
12491,"[\nYes\n, \n180 g CO2/km (comb)\n]",NaN
1065,NaN,NaN
11799,NaN,NaN
5662,"[\nYes\n, \n0 kWh/100 km (comb)\n]",NaN
4528,NaN,"[\n04/2021\n, \n111 g CO2/km (comb)\n]"
4439,NaN,"[\n05/2021\n, \n108 g CO2/km (comb)\n]"
6514,NaN,NaN
473,NaN,"[\n03/2021\n, \n0 kWh/100 km (comb)\n]"
11237,NaN,NaN
2621,NaN,NaN
4591,NaN,NaN
7093,NaN,"[\n01/2019\n, \n128 g CO2/km (comb)\n]"

In [88]:
df[["Inspection new","Next Inspection"]].isnull().sum()

Inspection new     11987
Next Inspection    12384
dtype: int64

In [90]:
df.Warranty.isnull().sum()

5420

In [94]:
df.Warranty.unique

<bound method Series.unique of 0                 [\n, \n, \n4 (Green)\n]
1                                     NaN
2        [\n, \n, \n99 g CO2/km (comb)\n]
3                                     NaN
4                    [\n, \n, \nEuro 6\n]
                       ...
15914                       \n24 months\n
15915                [\n, \n, \nEuro 6\n]
15916             [\n, \n, \n4 (Green)\n]
15917                                  \n
15918                                 NaN
Name: Warranty, Length: 15919, dtype: object>

In [95]:
df["Full Service"].unique

<bound method Series.unique of 0                                [\n, \n]
1                                     NaN
2                                     NaN
3        [\n, \n, \n99 g CO2/km (comb)\n]
4                 [\n, \n, \n4 (Green)\n]
                       ...
15914                                 NaN
15915                                 NaN
15916                            [\n, \n]
15917                                 NaN
15918                                 NaN
Name: Full Service, Length: 15919, dtype: object>

In [97]:
df["Full Service"].isnull().sum()

7704

In [98]:
df["Non-smoking Vehicle"]

0                       [\n, \n]
1                            NaN
2                            NaN
3           [\n, \n, \nEuro 6\n]
4                       [\n, \n]
                  ...
15914                        NaN
15915    [\n, \n, \n4 (Green)\n]
15916                   [\n, \n]
15917                        NaN
15918                        NaN
Name: Non-smoking Vehicle, Length: 15919, dtype: object

In [100]:
df["Non-smoking Vehicle"].isnull().sum()

8742

In [101]:
df.null.describe()

count     15919
unique        1
top          []
freq      15919
Name: null, dtype: object

In [107]:
df.Make.isnull().sum()

0

In [108]:
df.Make.describe()

count        15919
unique           3
top       \nOpel\n
freq          7343
Name: Make, dtype: object

In [110]:
df.Make.nunique

<bound method IndexOpsMixin.nunique of 0           \nAudi\n
1           \nAudi\n
2           \nAudi\n
3           \nAudi\n
4           \nAudi\n
            ...
15914    \nRenault\n
15915    \nRenault\n
15916    \nRenault\n
15917    \nRenault\n
15918    \nRenault\n
Name: Make, Length: 15919, dtype: object>

In [111]:
df.Make.unique()

array(['\nAudi\n', '\nOpel\n', '\nRenault\n'], dtype=object)

In [116]:
df.Model.unique

<bound method Series.unique of 0            [\n, A1, \n]
1            [\n, A1, \n]
2            [\n, A1, \n]
3            [\n, A1, \n]
4            [\n, A1, \n]
               ...
15914    [\n, Espace, \n]
15915    [\n, Espace, \n]
15916    [\n, Espace, \n]
15917    [\n, Espace, \n]
15918    [\n, Espace, \n]
Name: Model, Length: 15919, dtype: object>

In [117]:
df.Model.nunique

<bound method IndexOpsMixin.nunique of 0            [\n, A1, \n]
1            [\n, A1, \n]
2            [\n, A1, \n]
3            [\n, A1, \n]
4            [\n, A1, \n]
               ...
15914    [\n, Espace, \n]
15915    [\n, Espace, \n]
15916    [\n, Espace, \n]
15917    [\n, Espace, \n]
15918    [\n, Espace, \n]
Name: Model, Length: 15919, dtype: object>

In [118]:
df.Model.isnull().sum()

0

In [ ]:
Offer Number                      3175
First Registration                1597
Body Color

In [121]:
df["Offer Number"].unique

<bound method Series.unique of 0             [\nLR-062483\n]
1                         NaN
2              [\nAM-95365\n]
3                         NaN
4                 [\nC1626\n]
                 ...
15914          [\n10988301\n]
15915       [\n507370_3223\n]
15916          [\nEspace16\n]
15917           [\n2691331\n]
15918    [\nRe_30000008029\n]
Name: Offer Number, Length: 15919, dtype: object>

In [123]:
df["Offer Number"].isnull().sum()

3175

In [124]:
df["First Registration"].unique #zaten bakmistik bahsettik yukarda

<bound method Series.unique of 0        [\n, 2016, \n]
1        [\n, 2017, \n]
2        [\n, 2016, \n]
3        [\n, 2016, \n]
4        [\n, 2016, \n]
              ...
15914               NaN
15915    [\n, 2019, \n]
15916    [\n, 2019, \n]
15917    [\n, 2019, \n]
15918    [\n, 2019, \n]
Name: First Registration, Length: 15919, dtype: object>

In [128]:
df["Body Color"].unique

<bound method Series.unique of 0        [\n, Black, \n]
1          [\n, Red, \n]
2        [\n, Black, \n]
3        [\n, Brown, \n]
4        [\n, Black, \n]
              ...
15914     [\n, Grey, \n]
15915     [\n, Grey, \n]
15916    [\n, White, \n]
15917     [\n, Grey, \n]
15918     [\n, Grey, \n]
Name: Body Color, Length: 15919, dtype: object>

In [128]:
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats

In [129]:
df["Paint Type"].unique

<bound method Series.unique of 0        [\nMetallic\n]
1                   NaN
2        [\nMetallic\n]
3        [\nMetallic\n]
4        [\nMetallic\n]
              ...
15914    [\nMetallic\n]
15915    [\nMetallic\n]
15916               NaN
15917               NaN
15918    [\nMetallic\n]
Name: Paint Type, Length: 15919, dtype: object>

In [131]:
df["Paint Type"].isnull().sum()

5772

In [132]:
df["Paint Type"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64

In [ ]:
Body Color Original

In [133]:
df["Body Color Original"].isnull().sum()

3759

In [138]:
df["Body Color Original"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nOnyx Schwarz\n]                     338
[\nBianco\n]                           282
[\nMythosschwarz Metallic\n]           238
[\nBrillantschwarz\n]                  216
[\nGris\n]                             204
                                      ...
[\nRouge-Braun (G0Y)\n]                  1
[\nVARI COLRI DISPONIBILI\n]             1
[\nKokosnussbraun Metallic\n]            1
[\nFarbe frei wählbar\n]                 1
[\nPerlmutt-Weiß Metallic (Weiß)\n]      1
Name: Body Color Original, Length: 1927, dtype: int64

In [139]:
df["Upholstery"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nPart leather, Grey\n]      116
[\nFull leather, Brown\n]     116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nFull leather, Beige\n]      36
[\nVelour, Black\n]            36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nCloth, White\n]              8
[\nVelour, Grey\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nBeige\n]                     3
[\nPart leather, Red\n]         3
[\nalcantara\n]                 2
[\nPart leather, White\n]       2
[\nBlue\n]                      2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nalcantara, Other\n]          2
[\nFull leather, Blue\n]        2
[\nOther, Brown\n]              1
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nFull leather, White\n]       1
Name: Upholstery, dtype: int64

In [140]:
df["Upholstery"].isnull().sum()

3720

In [ ]:
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code

In [143]:
df["Body"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

In [144]:
df["Body"].isnull().sum()

60

In [147]:
df["Nr. of Doors"].isnull().sum()

212

In [146]:
df["Nr. of Doors"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
[\n1\n]        1
[\n7\n]        1
Name: Nr. of Doors, dtype: int64

In [149]:
df["Nr. of Seats"].isnull().sum()

977

In [145]:
df["Nr. of Seats"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

In [ ]:
Model Code

In [150]:
df["Model Code"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n0035/BCB\n]    268
[\n0588/BNO\n]    245
[\n0588/BDB\n]    206
[\n0588/BHX\n]    188
[\n1844/ADJ\n]    175
                 ...
[\n0000/ACP\n]      1
[\n0035/BGY\n]      1
[\n0035/bgp\n]      1
[\n0035/BGS\n]      1
[\n3333/BKG\n]      1
Name: Model Code, Length: 232, dtype: int64

In [151]:
df["Model Code"].isnull().sum()

10941

In [ ]:
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel

In [152]:
df["Gearing Type"].isnull().sum()

0

In [153]:
df["Gearing Type"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [154]:
df["Displacement"].isnull().sum()

496

In [155]:
df["Displacement"].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,598 cc\n]    4761
[\n999 cc\n]      2438
[\n1,398 cc\n]    1314
[\n1,399 cc\n]     749
[\n1,229 cc\n]     677
                  ...
[\n122 cc\n]         1
[\n1,198 cc\n]       1
[\n1,195 cc\n]       1
[\n2,967 cc\n]       1
[\n1,800 cc\n]       1
Name: Displacement, Length: 77, dtype: int64

## Import Libraries and Data

In [ ]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)

In [ ]:
df.to_csv("final_scout_not_dummy.csv", index=False)