<a href="https://colab.research.google.com/github/eildes06/Assigments/blob/main/DAwPython_Capstone_(AutoScout)_Projectcleaning_Student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 1 `( Data Cleaning )`

In [4]:
import pandas as pd
import re
import numpy as np
import seaborn as sns
sns.set_style("whitegrid")

import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.display.max_rows=100
pd.options.display.max_columns=100

In [5]:
df.rename(columns={"\nComfort & Convenience\n":"Comfort & Convenience",
                  "\nEntertainment & Media\n":"Entertainment & Media",
                  "\nExtras\n":"Extras",
                  "\nSafety & Security\n":"Safety & Security"}, inplace=True)

NameError: ignored

In [29]:
scout_car = pd.read_json ('/content/scout_car.json', lines = True)
df = scout_car.copy()
df.sample(3).T

,13499,5673,8975
url,https://www.autoscout24.com//offers/renault-cl...,https://www.autoscout24.com//offers/audi-a3-sp...,https://www.autoscout24.com//offers/opel-corsa...
make_model,Renault Clio,Audi A3,Opel Corsa
short_description,Expression / Klang und Klima/ Winterräder,SPB 30 TDI Business,1.4 90 CV Expression
body_type,Sedans,Sedans,Other
price,8490,25400,7900
vat,VAT deductible,VAT deductible,None
km,"25,150 km",10 km,"25,902 km"
registration,03/2016,02/2019,10/2016
prev_owner,1 previous owner,None,1 previous owner
kW,NaN,NaN,NaN
hp,54 kW,85 kW,66 kW
Type,"[, Used, , Super 95]","[, Pre-registered, , Diesel (Particulate Filter)]","[, Used, , Gasoline]"
Previous Owners,\n1\n,NaN,\n1\n
Next Inspection,NaN,NaN,NaN
Inspection new,"[\nYes\n, \n127 g CO2/km (comb)\n]",NaN,NaN
Warranty,NaN,\n,NaN
Full Service,"[\n, \n, \n4 (Green)\n]",NaN,NaN
Non-smoking Vehicle,"[\n, \n]",NaN,NaN
null,[],[],[]
Make,\nRenault\n,\nAudi\n,\nOpel\n
Model,"[\n, Clio, \n]","[\n, A3, \n]","[\n, Corsa, \n]"
Offer Number,NaN,[\nvu2289\n],[\n80B_474_6130_181\n]
First Registration,"[\n, 2016, \n]","[\n, 2019, \n]","[\n, 2016, \n]"
Body Color,"[\n, White, \n]","[\n, Grey, \n]","[\n, Red, \n]"
Paint Type,NaN,[\nMetallic\n],NaN
Body Color Original,[\nArktis-weiß\n],[\nGrigio atomico metallizzato\n],[\nRojo\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Other\n]",NaN
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Other, \n]"
Nr. of Doors,[\n5\n],[\n5\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n5\n],[\n5\n]
Model Code,[\n3333/BAJ\n],NaN,NaN
Gearing Type,"[\n, Manual, \n]","[\n, Manual, \n]","[\n, Manual, \n]"
Displacement,"[\n1,149 cc\n]","[\n1,598 cc\n]","[\n1,398 cc\n]"
Cylinders,[\n4\n],[\n4\n],[\n4\n]
Weight,"[\n1,055 kg\n]",NaN,"[\n1,163 kg\n]"
Drive chain,[\nfront\n],[\nfront\n],NaN
Fuel,"[\n, Super 95, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]"
Consumption,"[[5.5 l/100 km (comb)], [7.1 l/100 km (city)],...","[[4.4 l/100 km (comb)], [5 l/100 km (city)], [...","[[5.2 l/100 km (comb)], [6.9 l/100 km (city)],..."
CO2 Emission,[\n127 g CO2/km (comb)\n],[\n114 g CO2/km (comb)\n],[\n120 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],NaN,[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Cruise control, Electrical ...","[Air conditioning, Armrest, Automatic climate ...",NaN
\nEntertainment & Media\n,"[Hands-free equipment, MP3, On-board computer,...","[Bluetooth, Hands-free equipment, MP3, On-boar...",NaN
\nExtras\n,"[Catalytic Converter, Winter tyres]",[Alloy wheels],NaN
\nSafety & Security\n,"[ABS, Central door lock with remote control, D...","[ABS, Central door lock, Driver-side airbag, I...",NaN
description,[\nSehr gepflegter Renault Clio mit geringer L...,"[\n, POSSIBILITA' DI SOLUZIONI FINANZIARIE CON...",[\nSAUTER - RED DE CONCESIONARIOS OFICIALES OP...
Emission Label,NaN,[\n1 (No sticker)\n],NaN
Gears,[\n5\n],[\n6\n],[\n5\n]
Country version,[\nGermany\n],NaN,NaN
Electricity consumption,NaN,NaN,NaN
Last Service Date,"[\n03/2019\n, \nEuro 6\n]",NaN,NaN
Other Fuel Types,NaN,NaN,NaN
Availability,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN
Available from,NaN,NaN,NaN

**url**

In [37]:
df["url_new"] = df["url"] 
#eksik bilgileri bundan yararlanarak doldurabiliriz.
#onun için şimdilik tutuyoruz.
#ici full
#keep

**make_model**

In [36]:
df["make_model_new"] = df["make_model"]
#ici full
#make , model ile connection var
#bu keep edilsin

**short_description**

In [38]:
df["short_description_new"] = df["short_description"]
#46 null değer var.
#description ile baglantili 
#description icindeki tamamlanabilir
#simdilik tut hangisi karar verilmedi

**body_type**

In [54]:
df["body_type_new"] = df["body_type"]
#NaN ve Other verileri araştırılacak
#body ile connetionu var 
#icinde 9 cesit var

In [56]:
df["body_type_new"].value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type_new, dtype: int64

In [47]:
df["body_type_new"].unique()

array([nan])

In [57]:
df["body_type_new"].sample(5)

7339             Other
6508     Station wagon
12858            Other
12861           Sedans
5754     Station wagon
Name: body_type_new, dtype: object

**price**

In [34]:
df["price_new"] = df["price"] #kullanıma hazır veri
#ici full eksik data yok
#ana degiskenimiz 
#keep

**vat**

In [32]:
df["vat"].value_counts(dropna= False)
#vergi indirimi 3 deger var  
#biz onu discount ya da degil diye ikiye ayirdirk 
#keep

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

In [33]:
df["vat_new"] = df["vat"].apply(lambda x: "Discount" if x != None else np.nan)
df["vat_new"].value_counts(dropna=False)

Discount    11406
NaN          4513
Name: vat_new, dtype: int64

**km**

In [30]:
df["km"].value_counts()
#keep
#sadece km bilgisi var

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [31]:
df["km_new"] = df["km"].str.replace(",","").str.strip(" km")
df["km_new"]

0        56013
1        80000
2        83450
3        73000
4        16200
         ...
15914        -
15915     9900
15916       15
15917       10
15918        -
Name: km_new, Length: 15919, dtype: object


**registration**

In [27]:
df["registration"].value_counts()
#tarih verisi 
#ici temiz
#keep
#first registration ile baglantili

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

In [28]:
df["registration_new"]=df["registration"]

**prev_owner**

In [18]:
df["prev_owner"].value_counts()
#burda bilgiler birbirine tutiyor 
#prv o=wner alinabilir icersi dogeriyle bosluklar dooldurulabilir
#bu previous owner ile baglantili 
#

1 previous owner     8294
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [23]:
df[["prev_owner","Previous Owners_new"]].sample(5)
#burda bilgiler birbirine tutiyor 
#prv o=wner alinabilir icersi dogeriyle bosluklar dooldurulabilir
# bunu keep yap digerinden daha anlamli

             prev_owner Previous Owners_new
10988  1 previous owner
10778              None                 NaN
13292  1 previous owner
6251   1 previous owner
332    1 previous owner

In [24]:
df[["prev_owner","Previous Owners_new"]].isnull().sum()

prev_owner             6828
Previous Owners_new    6640
dtype: int64

In [25]:
df["prev_owner_new"]=df["prev_owner"].str[0]

In [26]:
df["prev_owner_new"].value_counts()

1    8294
2     778
3      17
4       2
Name: prev_owner_new, dtype: int64

**kW**

In [16]:
df["kW"].value_counts()#hepsi bosumus 
#direk drop et

Series([], Name: kW, dtype: int64)

In [17]:
df["kW"].isnull().sum()

15919

**HP**

In [13]:
df["hp"].value_counts()
#hp kolonu km ye donusucek 
#keep et bunu

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
70 kW      888
125 kW     707
51 kW      695
55 kW      569
118 kW     516
92 kW      466
121 kW     392
147 kW     380
77 kW      345
56 kW      286
54 kW      276
103 kW     253
87 kW      232
165 kW     194
88 kW      177
60 kW      160
162 kW      98
- kW        88
74 kW       81
96 kW       72
71 kW       59
101 kW      47
67 kW       40
154 kW      39
122 kW      35
119 kW      30
164 kW      27
135 kW      24
82 kW       22
52 kW       22
78 kW       20
1 kW        20
294 kW      18
146 kW      18
141 kW      16
57 kW       10
104 kW       8
120 kW       8
191 kW       7
112 kW       7
155 kW       6
117 kW       6
184 kW       5
90 kW        4
76 kW        4
65 kW        4
149 kW       3
80 kW        3
168 kW       3
98 kW        3
93 kW        3
228 kW       2
270 kW       2
53 kW        2
140 kW       2
86 kW        2
167 kW       2
127 kW       2
89 kW        2
143 kW       2
63 kW        2
40 kW        2
150 kW       2
163 kW       1
115 kW       1
132 kW       1
75 kW        1
4 kW         1
137 kW       1
123 kW       1
133 kW       1
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, dtype: int64

In [14]:
df["hp_new"] = df["hp"].str.strip(" kW")

df["hp_new"].value_counts()

85     2542
66     2122
81     1402
100    1308
110    1112
70      888
125     707
51      695
55      569
118     516
92      466
121     392
147     380
77      345
56      286
54      276
103     253
87      232
165     194
88      177
60      160
162      98
-        88
74       81
96       72
71       59
101      47
67       40
154      39
122      35
119      30
164      27
135      24
82       22
52       22
78       20
1        20
294      18
146      18
141      16
57       10
104       8
120       8
191       7
112       7
155       6
117       6
184       5
90        4
76        4
65        4
149       3
80        3
168       3
98        3
93        3
228       2
270       2
53        2
140       2
86        2
167       2
127       2
89        2
143       2
63        2
40        2
150       2
163       1
115       1
132       1
75        1
4         1
137       1
123       1
133       1
84        1
195       1
44        1
239       1
9         1
Name: hp_new, dtype: int64

**TYPE**

In [68]:
df["Type"].value_counts()
#arac sifir mi ikinci elmi

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                               1
[, Demonstration, , Super Plus 98]                                                                                         1
[, New, , Super Plus E10 98]                                                                                               1
[, Demonstration, , Regular/Benzine E10 91]                                                                                1
Name: Type, Length: 169, dtype: int64

In [69]:
df["Type_new"] =  df["Type"].str[1]
df["Type_new"].value_counts()

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
Name: Type_new, dtype: int64

In [70]:
used = ['Used', "Employee's car", 'Demonstration']
new = ["New", "Pre-registered"]

In [71]:
def usage(x):
    if x in used:
        x = "Used"
    elif x in new:
        x = "New"
    return x

In [72]:
df["Type_new"] = df["Type_new"].apply(usage)
df["Type_new"].value_counts(dropna=False)

Used    12903
New      3014
NaN         2
Name: Type_new, dtype: int64

**Previous Owners**

In [9]:
df["Previous Owners"].isnull().value_counts()
#yukarda prev ovner diye iliskili oldugu sutun var onu keep edelim dedik
#dolayisiyla bu drop olacak

False    9279
True     6640
Name: Previous Owners, dtype: int64

In [10]:
df['Previous Owners_new'] = df['Previous Owners'].apply(take_1).replace("\\n", "", regex=True)
df['Previous Owners_new'].value_counts()

     9049
1     193
0      25
2      12
Name: Previous Owners_new, dtype: int64

**Next Inspection**

In [11]:
df["Next Inspection"].isnull().value_counts()
# Muayne bilgisi fiyata ettiki etmeyen bir parametre olduğu için sutün'u düşürmek yerinde bir karar olur.
# Eğer fiyata ettiki etseydi, sutünün %77'sinin null değer olmasına rağmen düşürmek yerine değerleri anlamlı bir şekide doldurmaya çalışırdık.
#drop edilsin cok iliskili degil anlamli yok

True     12384
False     3535
Name: Next Inspection, dtype: int64

**Inspection new**

In [ ]:
df["Inspection new"].isnull().value_counts()
# Muayne bilgisi fiyata ettiki etmeyen bir parametre olduğu için sutün'u düşürmek yerinde bir karar olur.
#icinde yes 102 co2 flan gibi degerler var
# Eğer fiyata ettiki etseydi, sutünün %75'nin null değer olmasına rağmen düşürmek yerine değerleri anlamlı bir şekide doldurmaya çalışırdık.
#drop edilsin anlamli veri yok

In [12]:
df["Inspection new"].sample()

9972    NaN
Name: Inspection new, dtype: object

**Warranty**

In [237]:
df["Warranty"].value_counts() 
# ??? biz icinden aylari cektik ama icinde axra bilgiler var 
#country km falan bu diger sutunlarin doldurulmasinda yararli olur mu?
#keep

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
[\n, \n, \n4 (Green)\n]                                                                             517
                                                                                                   ...
[\n72 months\n, \n125 g CO2/km (comb)\n]                                                              1
[\n60 months\n, \n14 g CO2/km (comb)\n]                                                               1
[\n24 months\n, \n121 g CO2/km (comb)\n]                                                              1
[\n12 months\n, \nEuro 6d\n]                                                                          1
[\n36 months\n, \n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]       1
Name: Warranty, Length: 515, dtype: int64

In [1]:
def take_1(x):
    if type(x)==float: 
        return np.nan 
    elif type(x[0])==list:
        return np.nan
    else:
        return x[0]

In [87]:
df['Warranty_new'] = df['Warranty'].apply(take_1).replace("\\n", "", regex=True)
df['Warranty']

0                 [\n, \n, \n4 (Green)\n]
1                                     NaN
2        [\n, \n, \n99 g CO2/km (comb)\n]
3                                     NaN
4                    [\n, \n, \nEuro 6\n]
                       ...
15914                       \n24 months\n
15915                [\n, \n, \nEuro 6\n]
15916             [\n, \n, \n4 (Green)\n]
15917                                  \n
15918                                 NaN
Name: Warranty, Length: 15919, dtype: object

In [88]:
df["Warranty_new"].value_counts()

             7703
12 months    1417
24 months     552
60 months     382
36 months     223
6 months       49
72 months      44
48 months      40
3 months       14
23 months      10
18 months       7
20 months       7
25 months       5
50 months       4
16 months       4
2 months        4
34 months       3
1 months        2
11 months       2
14 months       2
45 months       2
22 months       2
21 months       2
17 months       2
46 months       2
26 months       2
13 months       2
65 months       1
33 months       1
28 months       1
15 months       1
7 months        1
19 months       1
10 months       1
56 months       1
49 months       1
47 months       1
40 months       1
Name: Warranty_new, dtype: int64

**Full Service**

In [82]:
df["Full Service"].value_counts() 
#non smoking ile bilgileri benzer 
#fill islemi icinde yararli\
#keep

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
\n                                                                                             283
                                                                                              ...
[\n, \n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n, \n, \n84 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n87 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
[\n, \n, \nEuro 4\n]                                                                             1
Name: Full Service, Length: 122, dtype: int64

In [83]:
df["Full Service_new"] =df["Full Service"].str[2].str.strip("\n")

In [84]:
df["Full Service_new"].value_counts()

4 (Green)                 2235
Euro 6                    2097
Euro 6d-TEMP               399
120 g CO2/km (comb)        105
126 g CO2/km (comb)         84
104 g CO2/km (comb)         77
97 g CO2/km (comb)          76
124 g CO2/km (comb)         61
99 g CO2/km (comb)          60
128 g CO2/km (comb)         53
119 g CO2/km (comb)         49
                            40
140 g CO2/km (comb)         39
106 g CO2/km (comb)         38
92 g CO2/km (comb)          33
107 g CO2/km (comb)         32
114 g CO2/km (comb)         31
102 g CO2/km (comb)         29
103 g CO2/km (comb)         29
1 (No sticker)              29
Euro 6c                     28
117 g CO2/km (comb)         24
139 g CO2/km (comb)         24
127 g CO2/km (comb)         23
141 g CO2/km (comb)         22
136 g CO2/km (comb)         20
85 g CO2/km (comb)          20
125 g CO2/km (comb)         20
108 g CO2/km (comb)         19
112 g CO2/km (comb)         18
109 g CO2/km (comb)         17
5 (Blue)                    17
150 g CO2/km (comb)         16
129 g CO2/km (comb)         16
130 g CO2/km (comb)         15
154 g CO2/km (comb)         15
133 g CO2/km (comb)         15
113 g CO2/km (comb)         15
135 g CO2/km (comb)         14
116 g CO2/km (comb)         13
110 g CO2/km (comb)         13
123 g CO2/km (comb)         12
137 g CO2/km (comb)         12
143 g CO2/km (comb)         12
105 g CO2/km (comb)         11
Euro 6d                     11
132 g CO2/km (comb)         10
95 g CO2/km (comb)          10
101 g CO2/km (comb)         10
118 g CO2/km (comb)         10
91 g CO2/km (comb)           9
111 g CO2/km (comb)          9
147 g CO2/km (comb)          9
149 g CO2/km (comb)          9
145 g CO2/km (comb)          8
Euro 5                       8
121 g CO2/km (comb)          7
96 g CO2/km (comb)           6
82 g CO2/km (comb)           5
142 g CO2/km (comb)          5
134 g CO2/km (comb)          5
138 g CO2/km (comb)          5
131 g CO2/km (comb)          4
89 g CO2/km (comb)           4
189 g CO2/km (comb)          4
148 g CO2/km (comb)          4
152 g CO2/km (comb)          3
151 g CO2/km (comb)          3
94 g CO2/km (comb)           3
153 g CO2/km (comb)          3
115 g CO2/km (comb)          3
122 g CO2/km (comb)          3
98 g CO2/km (comb)           3
169 g CO2/km (comb)          2
166 g CO2/km (comb)          2
157 g CO2/km (comb)          2
93 g CO2/km (comb)           2
144 g CO2/km (comb)          2
146 g CO2/km (comb)          2
88 g CO2/km (comb)           2
90 g CO2/km (comb)           2
188 g CO2/km (comb)          2
0 kWh/100 km (comb)          2
87 g CO2/km (comb)           1
84 g CO2/km (comb)           1
80 g CO2/km (comb)           1
156 g CO2/km (comb)          1
159 g CO2/km (comb)          1
253 g CO2/km (comb)          1
164 g CO2/km (comb)          1
13,983 g CO2/km (comb)       1
197 g CO2/km (comb)          1
Euro 4                       1
Name: Full Service_new, dtype: int64

In [89]:
df[["Non-smoking Vehicle_new","Full Service_new","Warranty_new"]].sample(5)
#burda bunlarin icndeki bilgiler benzer gibi bunlar eger drop edilmeyecekse birbirleri ile doldurularbilir

      Non-smoking Vehicle_new     Full Service_new Warranty_new
12269                     NaN                  NaN
12476               4 (Green)         Euro 6d-TEMP
10986                  Euro 6  147 g CO2/km (comb)          NaN
8230                4 (Green)               Euro 6    60 months
9332                      NaN                  NaN          NaN

**Non-smoking Vehicle**

In [76]:
df["Non-smoking Vehicle"].value_counts() 
#full sevice ile baglantili
#simdilik filling icin tut

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
\n                                                                                              70
[\n, \n, \n120 g CO2/km (comb)\n]                                                               63
[\n, \n, \n85 g CO2/km (comb)\n]                                                                46
[\n, \n, \n104 g CO2/km (comb)\n]                                                               36
[\n, \n, \n107 g CO2/km (comb)\n]                                                               36
[\n, \n, \n153 g CO2/km (comb)\n]                                                               31
[\n, \n, \n124 g CO2/km (comb)\n]                                                               29
[\n, \n, \n1 (No sticker)\n]                                                                    24
[\n, \n, \n99 g CO2/km (comb)\n]                                                                23
[\n, \n, \n106 g CO2/km (comb)\n]                                                               20
[\n, \n, \n97 g CO2/km (comb)\n]                                                                20
[\n, \n, \n108 g CO2/km (comb)\n]                                                               19
[\n, \n, \n100 g CO2/km (comb)\n]                                                               18
[\n, \n, \n109 g CO2/km (comb)\n]                                                               18
[\n, \n, \n113 g CO2/km (comb)\n]                                                               18
[\n, \n, \n105 g CO2/km (comb)\n]                                                               18
[\n, \n, \nEuro 6c\n]                                                                           17
[\n, \n, \n98 g CO2/km (comb)\n]                                                                15
[\n, \n, \n129 g CO2/km (comb)\n]                                                               14
[\n, \n, \n131 g CO2/km (comb)\n]                                                               13
[\n, \n, \n133 g CO2/km (comb)\n]                                                               12
[\n, \n, \n103 g CO2/km (comb)\n]                                                               12
[\n, \n, \n114 g CO2/km (comb)\n]                                                               12
[\n, \n, \n135 g CO2/km (comb)\n]                                                               11
[\n, \n, \n116 g CO2/km (comb)\n]                                                               11
[\n, \n, \n102 g CO2/km (comb)\n]                                                               11
[\n, \n, \n143 g CO2/km (comb)\n]                                                               10
[\n, \n, \n127 g CO2/km (comb)\n]                                                               10
[\n, \n, \nEuro 6d\n]                                                                            9
[\n, \n, \n92 g CO2/km (comb)\n]                                                                 9
[\n, \n, \n112 g CO2/km (comb)\n]                                                                9
[\n, \n, \n5 (Blue)\n]                                                                           8
[\n, \n, \n118 g CO2/km (comb)\n]                                                                8
[\n, \n, \n147 g CO2/km (comb)\n]                                                                7
[\n, \n, \n128 g CO2/km (comb)\n]                                                                7
[\n, \n, \n139 g CO2/km (comb)\n]                                                                7
[\n, \n, \n140 g CO2/km (comb)\n]                                                                6
[\n, \n, \n137 g CO2/km (comb)\n]                                                                6
[\n, \n, \n117 g CO2/km (comb)\n]                                                                6
[\n, \n, \n126 g CO2/km (comb)\n]                                                                6
[\n, \n, \n130 g CO2/km (comb)\n]                                                                5
[\n, \n, \n115 g CO2/km (comb)\n]                                                                5
[\n, \n, \n, 5.2 l/100 km (comb), \n, 5.8 l/100 km (city), \n, 4.8 l/100 km (country), \n]       4
[\n, \n, \n123 g CO2/km (comb)\n]                                                                4
[\n, \n, \nEuro 5\n]                                                                             4
[\n, \n, \n151 g CO2/km (comb)\n]                                                                4
[\n, \n, \n136 g CO2/km (comb)\n]                                                                3
[\n, \n, \n110 g CO2/km (comb)\n]                                                                3
[\n, \n, \n148 g CO2/km (comb)\n]                                                                3
[\n, \n, \n157 g CO2/km (comb)\n]                                                                3
[\n, \n, \n95 g CO2/km (comb)\n]                                                                 3
[\n, \n, \n119 g CO2/km (comb)\n]                                                                3
[\n, \n, \n149 g CO2/km (comb)\n]                                                                3
[\n, \n, \n166 g CO2/km (comb)\n]                                                                2
[\n, \n, \n138 g CO2/km (comb)\n]                                                                2
[\n, \n, \n121 g CO2/km (comb)\n]                                                                2
[\n, \n, \n111 g CO2/km (comb)\n]                                                                2
[\n, \n, \n90 g CO2/km (comb)\n]                                                                 2
[\n, \n, \n142 g CO2/km (comb)\n]                                                                2
[\n, \n, \n125 g CO2/km (comb)\n]                                                                2
[\n, \n, \n134 g CO2/km (comb)\n]                                                                2
[\n, \n, \n, 5.2 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.4 l/100 km (country), \n]       2
[\n, \n, \n, 6.5 l/100 km (comb), \n, 8.5 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n146 g CO2/km (comb)\n]                                                                1
[\n, \n, \n189 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
[\n, \n, \n, 6.3 l/100 km (comb), \n, 8 l/100 km (city), \n, 5.3 l/100 km (country), \n]         1
[\n, \n, \n154 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.5 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n, \n, \n, 6.4 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n122 g CO2/km (comb)\n]                                                                1
[\n, \n, \n82 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 1.6 l/100 km (comb), \n, \n, \n]                                                    1
[\n, \n, \n172 g CO2/km (comb)\n]                                                                1
[\n, \n, \n161 g CO2/km (comb)\n]                                                                1
[\n, \n, \n156 g CO2/km (comb)\n]                                                                1
[\n, \n, \n169 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.1 l/100 km (country), \n]       1
[\n, \n, \n152 g CO2/km (comb)\n]                                                                1
[\n, \n, \n144 g CO2/km (comb)\n]                                                                1
[\n, \n, \n132 g CO2/km (comb)\n]                                                                1
[\n, \n, \n159 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n158 g CO2/km (comb)\n]                                                                1
[\n, \n, \n150 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.2 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.3 l/100 km (country), \n]       1
[\n, \n, \n91 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n101 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n175 g CO2/km (comb)\n]                                                                1
Name: Non-smoking Vehicle, dtype: int64

In [77]:
df["Non-smoking Vehicle_new"] =df["Non-smoking Vehicle"].str[2].str.strip("\n")

In [78]:
df["Non-smoking Vehicle_new"].value_counts()
#burda bunun icinde extra ayristirma gerekebilir

4 (Green)              1240
Euro 6                 1127
Euro 6d-TEMP            345
120 g CO2/km (comb)      63
85 g CO2/km (comb)       46
104 g CO2/km (comb)      36
107 g CO2/km (comb)      36
153 g CO2/km (comb)      31
124 g CO2/km (comb)      29
1 (No sticker)           24
99 g CO2/km (comb)       23
106 g CO2/km (comb)      20
97 g CO2/km (comb)       20
108 g CO2/km (comb)      19
109 g CO2/km (comb)      18
105 g CO2/km (comb)      18
100 g CO2/km (comb)      18
113 g CO2/km (comb)      18
Euro 6c                  17
                         16
98 g CO2/km (comb)       15
129 g CO2/km (comb)      14
131 g CO2/km (comb)      13
103 g CO2/km (comb)      12
114 g CO2/km (comb)      12
133 g CO2/km (comb)      12
135 g CO2/km (comb)      11
102 g CO2/km (comb)      11
116 g CO2/km (comb)      11
127 g CO2/km (comb)      10
143 g CO2/km (comb)      10
Euro 6d                   9
92 g CO2/km (comb)        9
112 g CO2/km (comb)       9
118 g CO2/km (comb)       8
5 (Blue)                  8
128 g CO2/km (comb)       7
139 g CO2/km (comb)       7
147 g CO2/km (comb)       7
117 g CO2/km (comb)       6
137 g CO2/km (comb)       6
140 g CO2/km (comb)       6
126 g CO2/km (comb)       6
115 g CO2/km (comb)       5
130 g CO2/km (comb)       5
Euro 5                    4
151 g CO2/km (comb)       4
123 g CO2/km (comb)       4
148 g CO2/km (comb)       3
119 g CO2/km (comb)       3
149 g CO2/km (comb)       3
110 g CO2/km (comb)       3
136 g CO2/km (comb)       3
157 g CO2/km (comb)       3
95 g CO2/km (comb)        3
166 g CO2/km (comb)       2
90 g CO2/km (comb)        2
138 g CO2/km (comb)       2
121 g CO2/km (comb)       2
125 g CO2/km (comb)       2
134 g CO2/km (comb)       2
111 g CO2/km (comb)       2
142 g CO2/km (comb)       2
152 g CO2/km (comb)       1
82 g CO2/km (comb)        1
172 g CO2/km (comb)       1
154 g CO2/km (comb)       1
161 g CO2/km (comb)       1
146 g CO2/km (comb)       1
156 g CO2/km (comb)       1
91 g CO2/km (comb)        1
144 g CO2/km (comb)       1
132 g CO2/km (comb)       1
169 g CO2/km (comb)       1
159 g CO2/km (comb)       1
158 g CO2/km (comb)       1
150 g CO2/km (comb)       1
122 g CO2/km (comb)       1
189 g CO2/km (comb)       1
101 g CO2/km (comb)       1
175 g CO2/km (comb)       1
Name: Non-smoking Vehicle_new, dtype: int64

**null**

In [ ]:
#bunu tamami parantezden olusan null analizi yok :) 
#15919 null diyor
#drop

**Make**

In [90]:
df["Make"].value_counts() 
#make model ve model ile baglantili 
#bunu drop et

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [91]:
df["Make_new"] =df["Make"].str.strip("\n")#bu bir liste olmadigi icin str [1]kismini sildik dikkat heee

In [92]:
df["Make_new"].sample(5)

6333        Opel
15678    Renault
9120        Opel
8000        Opel
1712        Audi
Name: Make_new, dtype: object

**Model**

In [93]:
df["Model"].value_counts() 
##make model ve make ile baglantili 
#bunu drop et

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: Model, dtype: int64

In [94]:
df["Model_new"] =df["Model"].str[1].str.strip("\n")

In [95]:
df["Model_new"].sample(5)

4892    A3
3769    A3
5577    A3
4908    A3
4882    A3
Name: Model_new, dtype: object

**Offer Number**

In [96]:
df["Offer Number"].value_counts() 
#drop edlebilir icinde sadece kodlar var 
#id no gibi bilgiler var price ile ilgisi yok

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nLT67679\n]                                     27
[\nAK13780\n]                                     27
[\nTP62881\n]                                     27
[\nTA76392\n]                                     27
[\nXT61649\n]                                     27
                                                  ..
[\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n]     1
[\n6701576\n]                                      1
[\n6701569\n]                                      1
[\n158121\n]                                       1
[\nRe_30000008029\n]                               1
Name: Offer Number, Length: 11440, dtype: int64

In [97]:
df["Offer Number_new"] =df["Offer Number"].str[0].str.strip("\n")

In [98]:
df["Offer Number_new"].sample(5)

6881      8467JYB
10622    11-53492
11660      015531
1827        26150
4598       497666
Name: Offer Number_new, dtype: object

**First Registration**

In [99]:
df["First Registration"].value_counts() 
#registrition ile ilgili  bu ikisini kullan yeni bir yas sutunu eolde et
#dolayisyla bu sutunu olusturana kadar tut
#sonra drop

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
Name: First Registration, dtype: int64

In [100]:
df["First Registration_new"] =df["First Registration"].str[1].str.strip("\n")

In [101]:
df["First Registration_new"].sample(5)

11687    2017
10365    2019
8701     2016
13860    2016
12526    2019
Name: First Registration_new, dtype: object

**Body Color**

In [102]:
df["Body Color"].value_counts() 
# simdilik tut
#body orginal ile ilgili
#body color orginal ile karsilastirilip arabanin 0 olup olmadigi belirlernir
# sayet prev owner bilgisi bos ise burdan  yorum yapilabilir

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [103]:
df["Body Color_new"] =df["Body Color"].str[1].str.strip("\n")

In [104]:
df["Body Color_new"].sample(5)

3979       Grey
1055     Silver
10349     White
14419       Red
2232      Black
Name: Body Color_new, dtype: object

**Paint** **Type**

In [105]:
df["Paint Type"].value_counts() 
##iicnde metalic basic efet olmak uzere 3 tane
#price etkisi var 
#keep it
#

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64

In [106]:
df["Paint Type_new"] =df["Paint Type"].str[0].str.strip("\n")

In [107]:
df["Paint Type_new"].sample(5)

1009     Metallic
11834    Metallic
3509     Metallic
11007    Metallic
15743    Metallic
Name: Paint Type_new, dtype: object

**Body Color Original**

In [173]:
df["Body Color Original"].value_counts() 
#body color ile iliskili
#simdilik keep

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nOnyx Schwarz\n]                     338
[\nBianco\n]                           282
[\nMythosschwarz Metallic\n]           238
[\nBrillantschwarz\n]                  216
[\nGris\n]                             204
                                      ...
[\nRouge-Braun (G0Y)\n]                  1
[\nVARI COLRI DISPONIBILI\n]             1
[\nKokosnussbraun Metallic\n]            1
[\nFarbe frei wählbar\n]                 1
[\nPerlmutt-Weiß Metallic (Weiß)\n]      1
Name: Body Color Original, Length: 1927, dtype: int64

In [108]:
df["Body Color Original_new"] =df["Body Color Original"].str[0].str.strip("\n")

In [109]:
df["Body Color Original_new"].sample(5)

15674     arktis-weiß
3450              NaN
12412    Onyx Schwarz
3745           Grigio
6397              NaN
Name: Body Color Original_new, dtype: object

**Upholstery**

In [110]:
df["Upholstery"].value_counts() 
#fiyat farkettirir
#baglantili bir veri yok

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nPart leather, Grey\n]      116
[\nFull leather, Brown\n]     116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nFull leather, Beige\n]      36
[\nVelour, Black\n]            36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nCloth, White\n]              8
[\nVelour, Grey\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nBeige\n]                     3
[\nPart leather, Red\n]         3
[\nalcantara\n]                 2
[\nPart leather, White\n]       2
[\nBlue\n]                      2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nalcantara, Other\n]          2
[\nFull leather, Blue\n]        2
[\nOther, Brown\n]              1
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nFull leather, White\n]       1
Name: Upholstery, dtype: int64

In [111]:
df["Upholstery_new"] =df["Upholstery"].str[0].str.strip("\n")

In [112]:
df["Upholstery_new"].sample(5)

10102           Cloth, Black
14932    Full leather, Brown
4526            Cloth, Black
1456            Cloth, Other
9563                     NaN
Name: Upholstery_new, dtype: object

**Body**

In [114]:
df["Body"].value_counts() 
#body type ile iliskili 
#body dusebilir hemen hemn ayni bilgiler

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

In [115]:
df["Body_new"] =df["Body"].str[1].str.strip("\n")

In [116]:
df["Body_new"].sample(5)

13495      Transporter
12435    Station wagon
12328    Station wagon
632             Sedans
6500            Sedans
Name: Body_new, dtype: object

**Nr. of Doors**

In [117]:
df["Nr. of Doors"].value_counts() 
#keep 
#fiyati etkiler

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
[\n1\n]        1
[\n7\n]        1
Name: Nr. of Doors, dtype: int64

In [118]:
df["Nr. of Doors_new"] =df["Nr. of Seats"].str[0].str.strip("\n")

In [119]:
df["Nr. of Doors_new"].sample(5)

13633    NaN
8626       5
13793      5
11942      5
184        5
Name: Nr. of Doors_new, dtype: object

**Nr. of Seats**

In [120]:
df["Nr. of Seats"].value_counts() 
#keep 
#fiyati etkiler

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

In [121]:
df["Nr. of Seats_new"] =df["Nr. of Seats"].str[0].str.strip("\n")

In [122]:
df["Nr. of Seats_new"].sample(5)

11888    5
14090    5
9899     5
6567     5
2071     5
Name: Nr. of Seats_new, dtype: object

**Model Code**

In [123]:
df["Model Code"].value_counts() 
#drop et  id gibi nolar var icinde

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n0035/BCB\n]    268
[\n0588/BNO\n]    245
[\n0588/BDB\n]    206
[\n0588/BHX\n]    188
[\n1844/ADJ\n]    175
                 ...
[\n0000/ACP\n]      1
[\n0035/BGY\n]      1
[\n0035/bgp\n]      1
[\n0035/BGS\n]      1
[\n3333/BKG\n]      1
Name: Model Code, Length: 232, dtype: int64

In [124]:
df["Model Code_new"] =df["Model Code"].str[0].str.strip("\n")

In [125]:
df["Model Code_new"].sample(5)

11186    0035/BEL
5459     0588/BLL
10064    1844/ADJ
14060         NaN
8572          NaN
Name: Model Code_new, dtype: object

**Gearing Type**

In [126]:
df["Gearing Type"].value_counts() 
#otomatik manual semi otomotik  3 tip vites var 
#fyati etkiler
#keep

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [129]:
df["Gearing Type_new"] =df["Gearing Type"].str[1].str.strip("\n")

In [130]:
df["Gearing Type_new"].sample(5)

10733    Automatic
8685        Manual
15683    Automatic
13081    Automatic
7551        Manual
Name: Gearing Type_new, dtype: object

**Displacement**

In [131]:
df["Displacement"].value_counts() 
#cc leri temizleyelim :)
#motor gucu onemli fiyat icin 
#keep

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,598 cc\n]     4761
[\n999 cc\n]       2438
[\n1,398 cc\n]     1314
[\n1,399 cc\n]      749
[\n1,229 cc\n]      677
[\n1,956 cc\n]      670
[\n1,461 cc\n]      595
[\n1,490 cc\n]      559
[\n1,422 cc\n]      467
[\n1,197 cc\n]      353
[\n898 cc\n]        351
[\n1,395 cc\n]      320
[\n1,968 cc\n]      301
[\n1,149 cc\n]      288
[\n1,618 cc\n]      212
[\n1,798 cc\n]      210
[\n1,498 cc\n]      196
[\n1,600 cc\n]      130
[\n1,248 cc\n]      110
[\n1,997 cc\n]      103
[\n1,364 cc\n]      102
[\n1,400 cc\n]       90
[\n998 cc\n]         72
[\n1,500 cc\n]       50
[\n2,000 cc\n]       46
[\n1,000 cc\n]       40
[\n1 cc\n]           36
[\n1,998 cc\n]       25
[\n2,480 cc\n]       20
[\n1,200 cc\n]       18
[\n1,984 cc\n]       18
[\n1,397 cc\n]       11
[\n899 cc\n]         11
[\n160 cc\n]          6
[\n929 cc\n]          5
[\n1,499 cc\n]        5
[\n997 cc\n]          4
[\n1,596 cc\n]        4
[\n139 cc\n]          4
[\n900 cc\n]          4
[\n1,599 cc\n]        3
[\n1,199 cc\n]        3
[\n1,396 cc\n]        3
[\n1,495 cc\n]        2
[\n1,589 cc\n]        2
[\n1,300 cc\n]        2
[\n2 cc\n]            2
[\n995 cc\n]          2
[\n1,496 cc\n]        1
[\n890 cc\n]          1
[\n1,580 cc\n]        1
[\n1,995 cc\n]        1
[\n1,333 cc\n]        1
[\n54 cc\n]           1
[\n1,533 cc\n]        1
[\n1,100 cc\n]        1
[\n1,350 cc\n]        1
[\n16,000 cc\n]       1
[\n1,856 cc\n]        1
[\n1,568 cc\n]        1
[\n1,896 cc\n]        1
[\n1,584 cc\n]        1
[\n996 cc\n]          1
[\n1,696 cc\n]        1
[\n1,686 cc\n]        1
[\n15,898 cc\n]       1
[\n1,368 cc\n]        1
[\n140 cc\n]          1
[\n973 cc\n]          1
[\n1,239 cc\n]        1
[\n1,369 cc\n]        1
[\n1,390 cc\n]        1
[\n122 cc\n]          1
[\n1,198 cc\n]        1
[\n1,195 cc\n]        1
[\n2,967 cc\n]        1
[\n1,800 cc\n]        1
Name: Displacement, dtype: int64

In [132]:
df["Displacement_new"] =df["Displacement"].str[0].str.strip("\n kg").str.replace(",",".")

In [133]:
df["Displacement_new"].value_counts()

1.598 cc     4761
999 cc       2438
1.398 cc     1314
1.399 cc      749
1.229 cc      677
1.956 cc      670
1.461 cc      595
1.490 cc      559
1.422 cc      467
1.197 cc      353
898 cc        351
1.395 cc      320
1.968 cc      301
1.149 cc      288
1.618 cc      212
1.798 cc      210
1.498 cc      196
1.600 cc      130
1.248 cc      110
1.997 cc      103
1.364 cc      102
1.400 cc       90
998 cc         72
1.500 cc       50
2.000 cc       46
1.000 cc       40
1 cc           36
1.998 cc       25
2.480 cc       20
1.200 cc       18
1.984 cc       18
1.397 cc       11
899 cc         11
160 cc          6
929 cc          5
1.499 cc        5
997 cc          4
1.596 cc        4
139 cc          4
900 cc          4
1.599 cc        3
1.199 cc        3
1.396 cc        3
1.495 cc        2
1.589 cc        2
1.300 cc        2
2 cc            2
995 cc          2
1.496 cc        1
890 cc          1
1.580 cc        1
1.995 cc        1
1.333 cc        1
54 cc           1
1.533 cc        1
1.100 cc        1
1.350 cc        1
16.000 cc       1
1.856 cc        1
1.568 cc        1
1.896 cc        1
1.584 cc        1
996 cc          1
1.696 cc        1
1.686 cc        1
15.898 cc       1
1.368 cc        1
140 cc          1
973 cc          1
1.239 cc        1
1.369 cc        1
1.390 cc        1
122 cc          1
1.198 cc        1
1.195 cc        1
2.967 cc        1
1.800 cc        1
Name: Displacement_new, dtype: int64

**Cylinders**

In [131]:
df["Cylinders"].value_counts() 
#iliskili oldugunsutunnyok 
#keep ediyoruz

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4\n]    8105
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n8\n]       2
[\n2\n]       2
[\n1\n]       1
Name: Cylinders, dtype: int64

In [134]:
df["Cylinders_new"] =df["Cylinders"].str[0].str.strip("\n")

In [135]:
df["Cylinders"].sample(5)

4835       4
14667      3
5327     NaN
2401       3
117        4
Name: Cylinders, dtype: object

**Weight**

In [125]:
df["Weight"].value_counts() 
#fiyat ile cok alakali degil 
#drop edilebilir yaris arabsi degil sonucta :)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,163 kg\n]    574
[\n1,360 kg\n]    356
[\n1,165 kg\n]    301
[\n1,335 kg\n]    242
[\n1,135 kg\n]    213
                 ...
[\n1,331 kg\n]      1
[\n1,132 kg\n]      1
[\n1,252 kg\n]      1
[\n1,792 kg\n]      1
[\n2,037 kg\n]      1
Name: Weight, Length: 434, dtype: int64

In [128]:
df["Weight_new"] =df["Weight"].str[0].str.strip("\n kg").str.replace(",",".")

In [129]:
df["Weight_new"].value_counts()

1.163    574
1.360    356
1.165    301
1.335    242
1.135    213
        ...
1.331      1
1.132      1
1.252      1
1.792      1
2.037      1
Name: Weight_new, Length: 434, dtype: int64


**Drive chain**

In [122]:
df["Drive chain"].value_counts() 
#on arka 4x4olmak uyzere 3 tane
#keep

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nfront\n]    8886
[\n4WD\n]       171
[\nrear\n]        4
Name: Drive chain, dtype: int64

In [123]:
df["Drive chain_new"] =df["Drive chain"].str[0].str.strip("\n")

In [124]:
df["Drive chain_new"].value_counts()

front    8886
4WD       171
rear        4
Name: Drive chain_new, dtype: int64

**Fuel**

In [135]:
df["Fuel"].value_counts() 
#bunu tut
#duzenleme sini yap disel lpg benzin elektrikli olarak4 grup ayiralacak 
#islemleri burda yapildi

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Diesel (Particulate Filter), \n]                                                                                                       4315
[\n, Super 95, \n]                                                                                                                          3338
[\n, Gasoline, \n]                                                                                                                          3175
[\n, Diesel, \n]                                                                                                                            2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                                      424
[\n, Regular/Benzine 91, \n]                                                                                                                 354
[\n, Super E10 95, \n]                                                                                                                       331
[\n, Super 95 (Particulate Filter), \n]                                                                                                      268
[\n, Super 95 / Super E10 95, \n]                                                                                                            131
[\n, Regular/Benzine 91 (Particulate Filter), \n]                                                                                            100
[\n, Super 95 / Super Plus 98, \n]                                                                                                            85
[\n, Gasoline (Particulate Filter), \n]                                                                                                       77
[\n, Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98, \n]                                                                         40
[\n, Super E10 95 / Super 95, \n]                                                                                                             38
[\n, CNG, \n]                                                                                                                                 33
[\n, Super 95 / Super E10 95 (Particulate Filter), \n]                                                                                        25
[\n, Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98, \n]                                                                         19
[\n, LPG, \n]                                                                                                                                 16
[\n, Super 95 / Super Plus 98 (Particulate Filter), \n]                                                                                       14
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98, \n]                           13
[\n, Regular/Benzine E10 91, \n]                                                                                                              11
[\n, Liquid petroleum gas (LPG), \n]                                                                                                          10
[\n, Super 95 / Super Plus 98 / Super E10 95, \n]                                                                                              8
[\n, Regular/Benzine 91 / Regular/Benzine E10 91, \n]                                                                                          7
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98, \n]                            7
[\n, Super Plus 98, \n]                                                                                                                        7
[\n, Super E10 95 (Particulate Filter), \n]                                                                                                    7
[\n, Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95, \n]                                                                          5
[\n, Others, \n]                                                                                                                               5
[\n, Super E10 95 / Super Plus E10 98, \n]                                                                                                     4
[\n, Electric/Gasoline, \n]                                                                                                                    4
[\n, Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter), \n]                                                     4
[\n, Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98, \n]                                                                          4
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95, \n]                            4
[\n, CNG (Particulate Filter), \n]                                                                                                             3
[\n, Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98 (Particulate Filter), \n]                                                     3
[\n, Super E10 95 / Super 95 / Super Plus 98, \n]                                                                                              3
[\n, Super E10 95 / Regular/Benzine 91, \n]                                                                                                    2
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98, \n]                                                                                        2
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91, \n]                            2
[\n, Regular/Benzine 91 / Super 95 / Super E10 95, \n]                                                                                         1
[\n, Electric, \n]                                                                                                                             1
[\n, Regular/Benzine 91 / Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91, \n]                            1
[\n, Super 95 / Super E10 95 / Super Plus E10 98, \n]                                                                                          1
[\n, Super 95 / Super E10 95 / Super Plus 98, \n]                                                                                              1
[\n, Regular/Benzine 91 / Super 95 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 / Super Plus 98, \n]                            1
[\n, Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95 / Regular/Benzine 91, \n]                            1
[\n, Super 95 / Regular/Benzine E10 91, \n]                                                                                                    1
[\n, Super E10 95 / Regular/Benzine 91 / Regular/Benzine E10 91 / Super 95, \n]                                                                1
[\n, Super Plus 98 / Regular/Benzine 91, \n]                                                                                                   1
[\n, Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98 / Regular/Benzine E10 91, \n]                            1
[\n, Super 95 / Super Plus 98 / Super Plus E10 98, \n]                                                                                         1
[\n, Super 95 / Regular/Benzine 91 (Particulate Filter), \n]                                                                                   1
[\n, Super 95 / Super E10 95 / Regular/Benzine 91, \n]                                                                                         1
[\n, Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91, \n]                                                                1
[\n, Super 95 / Regular/Benzine E10 91 / Super E10 95, \n]                                                                                     1
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95, \n]                            1
[\n, Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95 / Regular/Benzine 91, \n]                            1
[\n, Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98, \n]                                                     1
[\n, Others (Particulate Filter), \n]                                                                                                          1
[\n, Biogas, \n]                                                                                                                               1
[\n, Super 95 / Biodiesel, \n]                                                                                                                 1
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 (Particulate Filter), \n]       1
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98, \n]                                                                                        1
[\n, Regular/Benzine 91 / Super 95, \n]                                                                                                        1
[\n, Regular/Benzine E10 91 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98, \n]                            1
[\n, Domestic gas H, \n]                                                                                                                       1
[\n, Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98, \n]                            1
[\n, Super Plus E10 98 / Super 95 / Super Plus 98 / Super E10 95, \n]                                                                          1
[\n, Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91, \n]                            1
[\n, Super Plus 98 / Super 95 / Super E10 95, \n]                                                                                              1
[\n, Super Plus E10 98, \n]                                                                                                                    1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91, \n]                                                                               1
[\n, Super Plus 98 / Super E10 95, \n]                                                                                                         1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98, \n]                            1
[\n, Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98, \n]                            1
[\n, Super Plus 98 / Super 95 / Super Plus E10 98, \n]                                                                                         1
Name: Fuel, dtype: int64

In [116]:
#df["Fuel_new"] =df["Fuel"].str[0].str.strip("\n")

In [136]:
df["Fuel_new"] =df["Fuel"].str[1]

In [137]:
df["Fuel_new"].sample(5)

11870      Diesel
5327     Super 95
12208      Diesel
15409      Diesel
13669      Diesel
Name: Fuel_new, dtype: object

In [138]:
df["Fuel_new"].value_counts()

Diesel (Particulate Filter)                                                                                                       4315
Super 95                                                                                                                          3338
Gasoline                                                                                                                          3175
Diesel                                                                                                                            2984
Super 95 / Regular/Benzine 91                                                                                                      424
Regular/Benzine 91                                                                                                                 354
Super E10 95                                                                                                                       331
Super 95 (Particulate Filter)                                                                                                      268
Super 95 / Super E10 95                                                                                                            131
Regular/Benzine 91 (Particulate Filter)                                                                                            100
Super 95 / Super Plus 98                                                                                                            85
Gasoline (Particulate Filter)                                                                                                       77
Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98                                                                         40
Super E10 95 / Super 95                                                                                                             38
CNG                                                                                                                                 33
Super 95 / Super E10 95 (Particulate Filter)                                                                                        25
Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98                                                                         19
LPG                                                                                                                                 16
Super 95 / Super Plus 98 (Particulate Filter)                                                                                       14
Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98                           13
Regular/Benzine E10 91                                                                                                              11
Liquid petroleum gas (LPG)                                                                                                          10
Super 95 / Super Plus 98 / Super E10 95                                                                                              8
Regular/Benzine 91 / Regular/Benzine E10 91                                                                                          7
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98                            7
Super Plus 98                                                                                                                        7
Super E10 95 (Particulate Filter)                                                                                                    7
Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95                                                                          5
Others                                                                                                                               5
Super E10 95 / Super Plus E10 98                                                                                                     4
Electric/Gasoline                                                                                                                    4
Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)                                                     4
Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98                                                                          4
Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95                            4
CNG (Particulate Filter)                                                                                                             3
Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98 (Particulate Filter)                                                     3
Super E10 95 / Super 95 / Super Plus 98                                                                                              3
Super E10 95 / Regular/Benzine 91                                                                                                    2
Super 95 / Regular/Benzine 91 / Super Plus 98                                                                                        2
Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91                            2
Regular/Benzine 91 / Super 95 / Super E10 95                                                                                         1
Electric                                                                                                                             1
Regular/Benzine 91 / Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91                            1
Super 95 / Super E10 95 / Super Plus E10 98                                                                                          1
Super 95 / Super E10 95 / Super Plus 98                                                                                              1
Regular/Benzine 91 / Super 95 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 / Super Plus 98                            1
Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95 / Regular/Benzine 91                            1
Super 95 / Regular/Benzine E10 91                                                                                                    1
Super E10 95 / Regular/Benzine 91 / Regular/Benzine E10 91 / Super 95                                                                1
Super Plus 98 / Regular/Benzine 91                                                                                                   1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98 / Regular/Benzine E10 91                            1
Super 95 / Super Plus 98 / Super Plus E10 98                                                                                         1
Super 95 / Regular/Benzine 91 (Particulate Filter)                                                                                   1
Super 95 / Super E10 95 / Regular/Benzine 91                                                                                         1
Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91                                                                1
Super 95 / Regular/Benzine E10 91 / Super E10 95                                                                                     1
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95                            1
Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95 / Regular/Benzine 91                            1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98                                                     1
Others (Particulate Filter)                                                                                                          1
Biogas                                                                                                                               1
Super 95 / Biodiesel                                                                                                                 1
Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 (Particulate Filter)       1
Regular/Benzine 91 / Super 95 / Super Plus 98                                                                                        1
Regular/Benzine 91 / Super 95                                                                                                        1
Regular/Benzine E10 91 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98                            1
Domestic gas H                                                                                                                       1
Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98                            1
Super Plus E10 98 / Super 95 / Super Plus 98 / Super E10 95                                                                          1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91                            1
Super Plus 98 / Super 95 / Super E10 95                                                                                              1
Super Plus E10 98                                                                                                                    1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                                               1
Super Plus 98 / Super E10 95                                                                                                         1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98                            1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98                            1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                                         1
Name: Fuel_new, dtype: int64

In [155]:
df["Fuel_new"] = df.Fuel.str[1].str.split("/").str[0].str.strip()

In [156]:
df["Fuel_new"].sample(5)

15559    Diesel (Particulate Filter)
12322    Diesel (Particulate Filter)
2055                        Super 95
9060                        Super 95
15259                         Diesel
Name: Fuel_new, dtype: object

In [157]:
df["Fuel_new"].value_counts()

Diesel (Particulate Filter)          4315
Super 95                             4100
Gasoline                             3175
Diesel                               2984
Regular                               503
Super E10 95                          402
Super 95 (Particulate Filter)         268
Gasoline (Particulate Filter)          77
CNG                                    33
LPG                                    16
Super Plus 98                          11
Liquid petroleum gas (LPG)             10
Super E10 95 (Particulate Filter)       7
Electric                                5
Others                                  5
CNG (Particulate Filter)                3
Super Plus E10 98                       2
Others (Particulate Filter)             1
Biogas                                  1
Domestic gas H                          1
Name: Fuel_new, dtype: int64

In [160]:
df["Fuel_new"] = df.Fuel_new.str.split("(").str[0].str.strip()

In [161]:
df["Fuel_new"].value_counts()

Diesel                  7299
Super 95                4368
Gasoline                3252
Regular                  503
Super E10 95             409
CNG                       36
LPG                       16
Super Plus 98             11
Liquid petroleum gas      10
Others                     6
Electric                   5
Super Plus E10 98          2
Biogas                     1
Domestic gas H             1
Name: Fuel_new, dtype: int64

In [162]:
benzine = ["Gasoline", "Super 95", "Regular", "Super E10 95", "Super Plus 98", "Super Plus E10 98", "Others"]
lpg = ["LPG", "Liquid petroleum gas", "CNG", "Biogas", "Domestic gas H"]

In [163]:
def fueltype(x):
    if x in benzine:
        return "Benzine"
    elif x in lpg:
        return "LPG/CNG"
    else:
        return x

In [164]:
df["Fuel_new"] = df.Fuel_new.apply(fueltype)

In [165]:
df["Fuel_new"]

0         Diesel
1        Benzine
2         Diesel
3         Diesel
4         Diesel
          ...
15914     Diesel
15915    Benzine
15916     Diesel
15917     Diesel
15918    Benzine
Name: Fuel_new, Length: 15919, dtype: object

In [166]:
df["Fuel_new"].value_counts()

Benzine     8551
Diesel      7299
LPG/CNG       64
Electric       5
Name: Fuel_new, dtype: int64

***Consumption***

In [167]:
df["Consumption"].value_counts()
#bunu keep
# tuketim sehir ici dis ort tuketimi var

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]              304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]              257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]              253
[[4.7 l/100 km (comb)], [5.1 l/100 km (city)], [4.4 l/100 km (country)]]              244
                                                                                     ...
[[4.2 l/100 km (comb)], [5.3 l/100 km (city)], [3.6 l/100 km (country)]]                1
[\n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]      1
[[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [6.7 l/100 km (country)]]                1
[\n, 6.3 l/100 km (comb), \n, \n, \n]                                                   1
[\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]        1
Name: Consumption, Length: 881, dtype: int64

In [168]:
comb = df.Consumption.str[0].str[0]
city = df.Consumption.str[1].str[0]
country = df.Consumption.str[2].str[0]

In [97]:
comb.value_counts()

\n                      850
3.9 l/100 km (comb)     732
4 l/100 km (comb)       712
5.4 l/100 km (comb)     662
5.1 l/100 km (comb)     627
4.4 l/100 km (comb)     595
3.8 l/100 km (comb)     585
5.6 l/100 km (comb)     568
4.7 l/100 km (comb)     555
4.8 l/100 km (comb)     523
5 l/100 km (comb)       513
4.5 l/100 km (comb)     511
5.2 l/100 km (comb)     429
4.6 l/100 km (comb)     420
4.2 l/100 km (comb)     408
5.3 l/100 km (comb)     374
3.7 l/100 km (comb)     369
4.9 l/100 km (comb)     348
5.5 l/100 km (comb)     342
4.1 l/100 km (comb)     341
5.9 l/100 km (comb)     308
5.7 l/100 km (comb)     302
3.3 l/100 km (comb)     298
4.3 l/100 km (comb)     295
3.5 l/100 km (comb)     285
6 l/100 km (comb)       278
3.6 l/100 km (comb)     193
6.2 l/100 km (comb)     184
5.8 l/100 km (comb)     142
6.3 l/100 km (comb)     141
6.1 l/100 km (comb)     135
6.8 l/100 km (comb)     134
6.6 l/100 km (comb)     119
3.4 l/100 km (comb)      94
3 l/100 km (comb)        69
6.4 l/100 km (comb)      64
7.4 l/100 km (comb)      62
7.1 l/100 km (comb)      38
6.5 l/100 km (comb)      36
10 l/100 km (comb)       34
6.7 l/100 km (comb)      33
3.2 l/100 km (comb)      25
6.9 l/100 km (comb)      21
8.3 l/100 km (comb)      19
7.6 l/100 km (comb)      14
3.4 kg/100 km (comb)     12
3.3 kg/100 km (comb)      9
7 l/100 km (comb)         9
3.1 l/100 km (comb)       7
7.2 l/100 km (comb)       6
7.8 l/100 km (comb)       6
8 l/100 km (comb)         5
51 l/100 km (comb)        4
3.5 kg/100 km (comb)      3
5.1 kg/100 km (comb)      3
8.7 l/100 km (comb)       3
8.6 l/100 km (comb)       3
8.1 l/100 km (comb)       2
7.9 l/100 km (comb)       2
38 l/100 km (comb)        2
40 l/100 km (comb)        2
7.3 l/100 km (comb)       2
0 l/100 km (comb)         2
7.5 l/100 km (comb)       1
54 l/100 km (comb)        1
46 l/100 km (comb)        1
1 l/100 km (comb)         1
50 l/100 km (comb)        1
33 l/100 km (comb)        1
32 l/100 km (comb)        1
1.2 l/100 km (comb)       1
55 l/100 km (comb)        1
13.8 l/100 km (comb)      1
43 l/100 km (comb)        1
5.4 kg/100 km (comb)      1
8.3 kg/100 km (comb)      1
9.1 l/100 km (comb)       1
11 l/100 km (comb)        1
5.3 kg/100 km (comb)      1
3.6 kg/100 km (comb)      1
Name: Consumption, dtype: int64

In [98]:
comb#sehir ici ve disi almis bunlarin ortalamasi

0        3.8 l/100 km (comb)
1        5.6 l/100 km (comb)
2        3.8 l/100 km (comb)
3        3.8 l/100 km (comb)
4        4.1 l/100 km (comb)
                ...
15914    5.3 l/100 km (comb)
15915                     \n
15916    5.3 l/100 km (comb)
15917    5.3 l/100 km (comb)
15918    6.8 l/100 km (comb)
Name: Consumption, Length: 15919, dtype: object

In [99]:
city

0        4.3 l/100 km (city)
1        7.1 l/100 km (city)
2        4.4 l/100 km (city)
3        4.3 l/100 km (city)
4        4.6 l/100 km (city)
                ...
15914    6.2 l/100 km (city)
15915                      7
15916    6.2 l/100 km (city)
15917    6.2 l/100 km (city)
15918    8.7 l/100 km (city)
Name: Consumption, Length: 15919, dtype: object

In [100]:
country

0        3.5 l/100 km (country)
1        4.7 l/100 km (country)
2        3.4 l/100 km (country)
3        3.5 l/100 km (country)
4        3.8 l/100 km (country)
                  ...
15914    4.7 l/100 km (country)
15915                        \n
15916    4.7 l/100 km (country)
15917    4.7 l/100 km (country)
15918    5.7 l/100 km (country)
Name: Consumption, Length: 15919, dtype: object

In [103]:
def cons_clean(x):
    if "/100" in str(x):
        x = x.split("/")[0].strip(" lkg")
    else:
        x = np.nan
    return x

In [104]:
comb = comb.apply(cons_clean)
city = city.apply(cons_clean)
country = country.apply(cons_clean)

In [106]:
df["Consumption_comb"] = df.Consumption.str[0].str[0]
df["Consumption_city"]  = df.Consumption.str[1].str[0]
df["Consumption_country"] = df.Consumption.str[2].str[0]

In [82]:
comb.isna().sum()

2883

In [85]:
comb = comb.astype(float)
city = city.astype(float)
country = country.astype(float)

In [ ]:
#comb.fillna((city+country)/2, inplace=True)

In [108]:
df[["Consumption_comb","Consumption_city","Consumption_country"]].sample(5)

          Consumption_comb     Consumption_city     Consumption_country
107      4 l/100 km (comb)  4.6 l/100 km (city)  3.6 l/100 km (country)
13698  3.3 l/100 km (comb)  3.5 l/100 km (city)  3.1 l/100 km (country)
12692  6.1 l/100 km (comb)  7.8 l/100 km (city)  5.1 l/100 km (country)
943    4.9 l/100 km (comb)  6.2 l/100 km (city)  4.2 l/100 km (country)
11291  5.7 l/100 km (comb)  7.4 l/100 km (city)  4.7 l/100 km (country)

**CO2 Emission**

In [66]:
df["CO2 Emission"].value_counts()
 #burda analamadaigim bise oldu co2 temiz gibi dolayisiyla new kismisni eklemedim 
 #keep 
 #biraz daha temizle az kirli :)

120 g CO2/km (comb)       740
99 g CO2/km (comb)        545
97 g CO2/km (comb)        537
104 g CO2/km (comb)       501
102 g CO2/km (comb)       477
                         ...
80 g CO2/km (comb)          1
51 g CO2/km (comb)          1
165 g CO2/km (comb)         1
12,324 g CO2/km (comb)      1
193 g CO2/km (comb)         1
Name: CO2 Emission, Length: 122, dtype: int64

In [70]:
df["CO2 Emission_new"]=df["CO2 Emission"]

In [69]:
#df["CO2 Emission_new"] = df["CO2 Emission"].str[0].str.strip("\n")

In [72]:
df["CO2 Emission_new"].sample(5)

1986                    NaN
9383    124 g CO2/km (comb)
3508     97 g CO2/km (comb)
4975    106 g CO2/km (comb)
4992    108 g CO2/km (comb)
Name: CO2 Emission_new, dtype: object

**Emission Class**

In [38]:
df["Emission Class"].value_counts() 
#emission class ile co2 emisyon  iliskili 
#birnden biri dusurulebilir 
#aracin klasi bilinirse salgiladigi co2 miktari bilinir 
#dolaysiyla co2 emisyona gerek yoktur

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nEuro 6\n]          10139
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: Emission Class, dtype: int64

In [45]:
df["Emission_Class_new"] =df["Emission Class"].str[0].str.strip("\n")

In [47]:
df["Emission_Class_new"].sample(5)

5100           Euro 6
6440              NaN
8875              NaN
9332              NaN
13011    Euro 6d-TEMP
Name: Emission_Class_new, dtype: object

In [40]:
def take_2(x):
    if type(x)==float: 
        return np.nan 
    else:
        return x[1]

In [41]:
def take_item(x,y):
    if type(x)==float: 
        return np.nan 
    else:
        return x[y]

In [44]:
#df['Emission Class'].apply(take_2())

**Burda extra ,\nComfort & Convenience\n, Upholstery ,\nEntertainment & Media\n, Safety & Security bunlarin bilgileri birbirleriyle baglantili bunlar bir sutunda birlestirlebilir null lar doldurulablir anlamli bir sutun elde edilebbilir**



**\nComfort & Convenience\n**

In [169]:

df["\nComfort & Convenience\n"].value_counts() 
#bu uphalstery ile iliskili bilgiler var 
#extra ile de alakali 
#fiyati etkileyen seyler 
#duzenlendikten sonra karar verilsin keep veya drop

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                      216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                   134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                                                                                         105
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                                                                                                                                  92
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
[Air conditioning, Cruise control, Electrical side mirrors, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Start-stop system]                                                                                                                                                                                                                                                                                                   1
[Air conditioning, Armrest, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Sunroof, Tinted windows]                                                                                                                                                 1
[Air conditioning, Armrest, Cruise control, Hill Holder, Leather steering wheel, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows]                                                                                                                                                                                                                                                                                                 1
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Multi-function steering wheel, Power windows, Rain sensor, Start-stop system, Tinted windows]                                                                                                                                                                                                                                                                                                          1
[Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]      1
Name: \nComfort & Convenience\n, Length: 6198, dtype: int64

In [37]:
df["Comfort & Convenience"]=df["\nComfort & Convenience\n"]

**\nEntertainment & Media\n**

In [170]:
df["\nEntertainment & Media\n"].sample()
#extra , confort , upholstry ile baglantili 
#keep incele

2361    NaN
Name: \nEntertainment & Media\n, dtype: object

In [171]:
df["\nEntertainment & Media\n"].isnull().value_counts()

False    14545
True      1374
Name: \nEntertainment & Media\n, dtype: int64

In [ ]:
# Araçlar medya oynatıcıları hakkında özellikler içerdiği için fiyatlandırmada etkili olabilir
# Şimdilik sadece sütun adı değiştirip, sonra detaylı bakılacaktır. 
df["Entertainment & Media"] = df["\nEntertainment & Media\n"]

**\nExtras\n**

In [35]:
df["\nExtras\n"].value_counts() 
#iki yerle baglantili security , comfort convenience
#ici incelenip karar verlmeli

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Alloy wheels]                                                                                                     3245
[Alloy wheels, Touch screen]                                                                                        697
[Alloy wheels, Voice Control]                                                                                       577
[Alloy wheels, Touch screen, Voice Control]                                                                         541
[Alloy wheels, Roof rack]                                                                                           385
                                                                                                                   ...
[Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Sport suspension, Voice Control]       1
[Alloy wheels, Catalytic Converter, Roof rack, Sport package, Sport seats, Trailer hitch]                             1
[Alloy wheels, Catalytic Converter, Ski bag, Sport package, Voice Control]                                            1
[Catalytic Converter, Roof rack, Sport seats, Sport suspension]                                                       1
[Alloy wheels, Shift paddles, Ski bag, Sport seats, Sport suspension, Touch screen, Voice Control]                    1
Name: \nExtras\n, Length: 659, dtype: int64

**Safety & Security**

In [27]:
df["Safety & Security"] = df["\nSafety & Security\n"]
#3 yerle baglantili extra , confort ,uphulstery
#analiz sonucunda karar verilsin

In [28]:
df["Safety & Security"][1]

['ABS',
 'Central door lock',
 'Central door lock with remote control',
 'Daytime running lights',
 'Driver-side airbag',
 'Electronic stability control',
 'Head airbag',
 'Immobilizer',
 'Isofix',
 'Passenger-side airbag',
 'Power steering',
 'Side airbag',
 'Tire pressure monitoring system',
 'Traction control',
 'Xenon headlights']

**description**

In [29]:

df["description"].value_counts() 
# short description ile aynı değerleri içeriyor.
# almanca bilgi var
#Bunun için bu sütunu eleyebiliriz

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        636
[\n, \n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   30
[\n, Fahrzeugbeschreibung,  Sichern Sie sich diesen Renault Clio 1.6 TCE Energy Sport Trophy zum Top-Preis inklusive dem , AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  1.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt,  , Highlights,  , Audio-Navigationssystem R-Link Evolution mit Touchscreen und Carminat TomTom,  , Sportsitze ,  , Sportfahrwerk,  , Scheinwerfer Full-LED , Komfort,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Klimaanlage,  , Einparkhilfe hinten,  , Multifunktionslenkrad (Sport/Leder) mit Schaltwippen/-tasten ,  , Fensterheber elektr. mit Impulsgeber links/rechts vorn,  , Zentralverriegelung / Startanlage Handsfree Entry & Drive ,  , Berganfahr-Assistent (HSA) , Multimedia,  , Audiosystem: Radio R & GO (Bluetooth, DAB-Tuner),  , Bordcomputer,  , Freisprecheinrichtung Bluetooth ,  , USB-Anschluss inkl. AUX-IN-Anschluss (Plug & Music) , Licht und Sicht,  , Außenspiegel elektr. verstell- und heizbar ,  , Licht- und Regensensor ,  , Tagfahrlicht LED ,  , Nebelscheinwerfer LED ,  , Coming-Home-Lichtfunktion ,  , Heckleuchten LED , Sicherheit,  , Isofix-Aufnahmen für Kindersitz ,  , Seitenairbag vorn,  , Wegfahrsperre,  , Differentialsperre,  , Bremsassistent ,  , Elektron. Stabilitäts-Programm (ESP),  , Anti-Blockier-System (ABS),  , Anti-Submarining-Airbag im Fond,  , Airbag Fahrer-/Beifahrerseite ,  , Differentialsperre ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , Antischlupfregelung (ASR) , Weiteres,  , Start/Stop-Anlage ,  , Servolenkung geschwindigkeitsabhängig,  , R.S. Drive (Fahrmodusschalter) ,  , Gepäckraumabdeckung / Rollo ,  , Heckdiffusor ,  , LM-Felgen ,  , Heckspoiler (Renault Sport) ,  , Pedale Aluminium ,  , Energierückgewinnung (Energy Smart Management) , ...]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              27
[\nPosibilidad de prueba del vehículo hasta 5 días. Consultar condiciones. PVP para particulares. Varias unidades y colores disponibles. Precios publicados para vehículos industriales (furgonetas) válidos para compradores autónomos o empresas, consultar condiciones para particulares. Las imágenes y kilómetros pueden no corresponder con el modelo anunciado. Para confirmar póngase en contacto con nuestro departamento comercial. Consulta las excepcionales condiciones de financiación que tenemos disponibles. Precio de venta final IVA y gastos de transferencia incluidos. Horario de atención al cliente: Lunes a Viernes de 09:00 a 18:00.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          27
[\nSichern Sie sich diesen RENAULT CLIO 1.2 LIMITED zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  2.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei ,  , Highlights,  , Audio-Navigationssystem mit Touchscreen-Farbdisplay, Komfort,  , Klimaanlage ,  , Multifunktionslenkrad in Leder ,  , Berganfahr-Assistent (HSA),  , Fensterheber elektrisch vorn ,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Heckscheibe heizbar ,  , Sitz vorn links höhenverstellbar,  , Sitz vorn rechts umklappbar ,  , Stau-/Ablagefach im Laderaumboden ,  , Zentralverriegelung mit Fernbedienung , Multimedia,  , Radio R&GO,  , Bluetooth Freisprechanlage ,  , USB-/AUX-Schnittstelle ,  , Bordcomputer,  , Licht und Sicht,  , Tagfahrlicht LED ,  , Außenspiegel elektrisch verstell- und heizbar, Sicherheit,  , Airbag für Fahrer und Beifahrer,  , Beifahrerairbag deaktivierbar ,  , Seitenairbags vorn ,  , Kopfairbagsystem,  , Anti-Blockier-System (ABS),  , Elektronische Bremskraftverteilung ,  , Elektronische Stabilitäts-Programm (ESP) ,  , Reifen-Reparaturkit ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , ISOFIX Kindersitzverankerung , Weiteres,  , Dachreling silber ,  , Look-Paket Chrom (außen) ,  , Look-Paket Grau (innen) ,  , R&GO-Paket ,  , Style-Paket ,  Ihr , AUTOHERO-RUNDUM-SORGLOS-PAKET,  beinhaltet:, Kostenlose Lieferung in Ihre Nähe, Optische & technische Aufbereitung, Mindestens 12 Monate gültige HU und AU, 1-Jahr-Premium-Garantie, Zulassung inklusive , 14-Tage-Rückgaberecht, Markenunabhängige Inzahlungnahme , Individuelle Finanzierungen zu fairen Konditionen,  , HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:, :, https://www.autohero.com/de/renault-clio-1-2-limited/id/30f99516-8785-47e7-a4a3-6cdac4d8e633/,  , Haftungsausschluss, :, Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
[\nPratica 67374, Airbag fullsize per conducente e passeggero, Alzacristalli elettrici ant. e post. con funzione attivaz. a pressione, Assetto dinamico, Audi drive select, Inserti in micrometallic argento, Kit riparazione pneumatici, Pacchetto di navigazione, Piano di copertura del vano bagagli estraibile, Presa AUX-IN, Proiettori allo Xenon Plus con reg. aut. prof. fari, Lavafari, Rivestimenti dei sedili in tessuto, Serbatoio AdBlue, Sistema controllo pressione pneumatici, Sistema di ancoraggio ISOFIX e 3° punto di ancoraggio Top Tether sui sedili post. laterali, Sistema di informazioni per il conducente con display monocromatico, Tappetini anteriori e posteriori, Versione Business, Volante sportivo multifunzionale in pelle 3 razze, ABS, EBV (Ripartitore elettronico della forza frenante), Airbag laterali anteriori integrati negli schienali dei sedili, Airbag per la testa, Airbag per le ginocchia (lato conducente), Appoggiatesta anteriori (2) e posteriori (3) regolabili, Radio MMI plus, Interfaccia Bluetooth, Appoggiabraccia centrale anteriore, Cambio manuale, Cerchi in lega 7 J x 16" a 5 razze a stella, Chiusura centralizzata con telecomando, Regolatore di velocità, ESC - Sistema elettronico di controllo della stabilizzazione con bloccaggio trasversale elettronico, ASR - Dispositivo di controllo della trazione, EDS (Dispositivo antislittamento in partenza), Filtro anti particolato, Cinture di sicurezza con pretensionatore, Specchietti retrovisivi esterni riscaldabili e ripiegabili elettricamente, Schienale del sedile posteriore ribaltabile (divisibile in rapporto 40:60 o ribaltabile completam.), Sistema di ausilio al parcheggio posteriore, Servosterzo elettromeccanico, Tergilunotto\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1

**Emission Label**

In [23]:
df["Emission Label"].value_counts()
# co2 emission ,emision level ile baglantili 
#drop edilebilir

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4 (Green)\n]         3553
[\n1 (No sticker)\n]     381
[[], [], []]              40
[\n5 (Blue)\n]             8
[\n3 (Yellow)\n]           2
[\n2 (Red)\n]              1
Name: Emission Label, dtype: int64

In [24]:
df["Emission_Label_new"] = df["Emission Label"].str[0].str.split().str[1].str.strip("()")

In [25]:
df["Emission_Label_new"].value_counts()

Green     3553
No         381
Blue         8
Yellow       2
Red          1
Name: Emission_Label_new, dtype: int64

**Gears**

In [20]:
df["Gears"].value_counts()
#vites sayisi yanlis veriler var check edilmeli 50 vites gibi konrol et
#keep

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n6\n]     5822
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n1\n]        2
[\n3\n]        2
[\n4\n]        2
[\n2\n]        1
[\n50\n]       1
Name: Gears, dtype: int64

In [21]:
df["Gears_new"] = df.Gears.str[0].str.strip("\n")

In [22]:
df["Gears_new"].value_counts(dropna=False)

6      5822
NaN    4712
5      3239
7      1908
8       224
9         6
1         2
3         2
4         2
2         1
50        1
Name: Gears_new, dtype: int64

**Country version**

In [4]:
df["Country version"].value_counts()
# bu drop edilebilir fiyata etkisi yok nerde uretidlgi gibi  bir bilgi

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nSlovakia\n]             4
[\nCroatia\n]              4
[\nSweden\n]               3
[\nRomania\n]              2
[\nBulgaria\n]             2
[\nLuxembourg\n]           1
[\nSwitzerland\n]          1
[\nSlovenia\n]             1
[\nEgypt\n]                1
[\nSerbia\n]               1
Name: Country version, dtype: int64

In [18]:
df["Country_version_ new"] = df["Country version"].str[0].str.strip("\n")

In [19]:
df["Country_version_ new"].value_counts()

Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: Country_version_ new, dtype: int64

**Electricity consumption**

In [5]:
df["Electricity consumption"].value_counts()
#zaten 15000 den fazla deger null kalanda 137 de anlamli bise yazmiyor
#drop edilebilir

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n0 kWh/100 km (comb)\n]    137
Name: Electricity consumption, dtype: int64

**Last Service Date**

In [38]:
df["Last Service Date"].value_counts()
#bununda 15000 den fala nunu var liste icinde elamanlar 
# drop edilmeli

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n02/2019\n, \nEuro 6\n]                 23
[\n05/2019\n, \nEuro 6\n]                 16
[\n01/2018\n, \n118 g CO2/km (comb)\n]    15
[\n03/2019\n, \nEuro 6\n]                 15
[\n06/2019\n, \nEuro 6\n]                 13
                                          ..
[\n01/2017\n, \n95 g CO2/km (comb)\n]      1
[\n06/2019\n, \n87 g CO2/km (comb)\n]      1
[\n10/2018\n, \n100 g CO2/km (comb)\n]     1
[\n02/2018\n, \n97 g CO2/km (comb)\n]      1
[\n03/2019\n, \n120 g CO2/km (comb)\n]     1
Name: Last Service Date, Length: 266, dtype: int64

**Other Fuel Types**

In [6]:
df["Other Fuel Types"].isnull().sum() 
#columlarin nullardan arta kalani koseli parantze cesitleri drop edilmeli
#drop et tmm mi?

15039

**Availability_new**

In [9]:
df["Availability_new"].value_counts()
#drop edilebilir fiyat ile ilgisi cok yok

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[,  90 days from ordering\n]     196
[,  120 days from ordering\n]    182
[,  1 day from ordering\n]        51
[,  5 days from ordering\n]       35
[,  3 days from ordering\n]       35
[,  180 days from ordering\n]     24
[,  14 days from ordering\n]      24
[,  7 days from ordering\n]       20
[,  150 days from ordering\n]     18
[,  2 days from ordering\n]       16
[,  60 days from ordering\n]      13
[,  42 days from ordering\n]      10
[,  21 days from ordering\n]       8
[,  4 days from ordering\n]        2
[,  6 days from ordering\n]        1
Name: Availability_new, dtype: int64

In [7]:
df[["Availability","Available from"]].sample(5)

      Availability Available from
1757           NaN            NaN
11598          NaN            NaN
6336           NaN            NaN
11813          NaN            NaN
14763          NaN            NaN

In [16]:
df[["Availability_new"]]= df[["Availability"]].apply(lambda x: x.str.strip("\nin"))

In [17]:
df[["Availability_new"]].value_counts()

Availability_new
 90 days from ordering     196
 120 days from ordering    182
 1 day from ordering        51
 3 days from ordering       35
 5 days from ordering       35
 14 days from ordering      24
 180 days from ordering     24
 7 days from ordering       20
 150 days from ordering     18
 2 days from ordering       16
 60 days from ordering      13
 42 days from ordering      10
 21 days from ordering       8
 4 days from ordering        2
 6 days from ordering        1
dtype: int64

**Last Timing Belt Service Date**

In [11]:
df["Last Timing Belt Service Date"].value_counts()#burda bir tane sutunda lste icinde iki degerr var o duzeltilmeden diger \nler temizlenmiyir
#bu duzeltuldiginde \n fprmulasyonu ile icinden deger cekilebilir
#bu fill asamasi icin keep edilsin

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n04/2016\n]                2
[\n12/1900\n]                1
[\n07/2018\n]                1
[\n01/1900\n]                1
[\n05/2019\n]                1
[\n09/2018\n]                1
[\n05/2018\n, \nEuro 6\n]    1
[\n06/2017\n]                1
[\n01/2019\n]                1
[\n02/2019\n]                1
[\n02/2018\n]                1
[\n06/2019\n]                1
[\n01/2018\n]                1
[\n04/2019\n]                1
[\n01/1970\n]                1
Name: Last Timing Belt Service Date, dtype: int64

In [13]:
df[["Last Timing Belt Service Date_new"]] = df[["Last Timing Belt Service Date"]].apply(lambda x: x.str.strip("\n") )
df[["Last Timing Belt Service Date_new"]]

       Last Timing Belt Service Date_new
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                    NaN
...                                  ...
15914                                NaN
15915                                NaN
15916                                NaN
15917                                NaN
15918                                NaN

[15919 rows x 1 columns]

In [13]:
df[["Last Timing Belt Service Date_new"]].value_counts()

Series([], dtype: int64)

In [14]:
df[["Last Timing Belt Service Date_new"]].isnull().sum()

Last Timing Belt Service Date_new    15919
dtype: int64

**Available from**

In [ ]:
#bu siilenebilir anlamli degil price icin
#drop :)

In [14]:
df[["Available_from_new"]] = df[["Available from"]].apply(lambda x: x.str.strip("\n") )
df[["Available_from_new"]]

      Available_from_new
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
...                  ...
15914                NaN
15915                NaN
15916                NaN
15917                NaN
15918                NaN

[15919 rows x 1 columns]

In [15]:
df[["Available_from_new"]].value_counts()

Available_from_new
31/08/19              98
30/07/19              25
15/08/19              24
16/09/19              14
29/06/19              12
01/07/19              11
28/06/19              10
19/08/19               7
10/09/19               6
27/06/19               5
10/11/19               5
26/06/19               5
08/07/19               4
25/10/19               3
01/08/19               3
15/07/19               3
24/08/19               2
16/07/19               2
04/07/19               2
05/07/19               2
20/07/19               2
05/08/19               2
30/06/19               2
03/08/19               1
27/07/19               1
29/07/19               1
29/09/19               1
02/07/19               1
30/09/19               1
01/09/19               1
24/09/19               1
18/08/19               1
24/07/19               1
19/07/19               1
18/07/19               1
17/08/19               1
16/08/19               1
03/12/19               1
14/09/19               1
11/08/19               1
10/12/19               1
10/10/19               1
10/07/19               1
06/12/19               1
05/12/19               1
31/10/19               1
dtype: int64

In [ ]:
#bitiiiiii :)

## Import Libraries and Data

In [ ]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)

In [ ]:
df.to_csv("final_scout_not_dummy.csv", index=False)