<a href="https://colab.research.google.com/github/eildes06/Assigments/blob/main/Improtantcodesnotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Take second item in the list **

In [ ]:
def take_2(x):
    if type(x)==float: 
        return np.nan 
    else:
        return x[1]
    
# if Nan, return Nan, else take second item in the list

**Take specific item from the list **

In [ ]:
# alternative def 
# take a.item from the list
def take_list(x,a):
    if type(x) == list:
        if len(x) > a: 
            x = x[a]
        else:
            x = np.nan
    else:
        x = np.nan
    return x

In [ ]:
# usage of def 
# df['Non-smoking Vehicle'].apply(lambda x: take_list(x,3))

**Missing value Percentage**

In [ ]:
  # df.isnull().sum()/len(df)*100 #percentage of missing values per columns
df.isnull().sum()/df.shape[0]*100

**rename**

In [ ]:
#df.rename(columns={'url':'drop_url'},inplace=True)

In [ ]:
df['Model'].isnull().sum()
# df['Model'].isna().sum()

**clean column**

In [ ]:
# Alternative 1
df['Model'].apply(lambda x: x[1])

In [ ]:
## Alternative 2
df["Model"].str[1].str.strip("\n")

In [ ]:
## Alternative 3 - using remove function we created before
df['Model'] = df['Model'].apply(take_2)
df['Model']

In [ ]:
df['Make'] = df['Make'].replace('\\n', '', regex=True)
df['Make'].value_counts()

In [ ]:
type(np.NaN) # float cikti

In [ ]:
#alternative 1
df['Body'].apply(lambda x: np.nan if type(x)==float else x[1])

In [ ]:
#alternative 2
df['Body']=df['Body'].apply(take_2)
df['Body']

In [ ]:
df.iloc[3696] # just checking vat=Nan values on a random row

In [ ]:
df['km'] = df['km'].replace({'[ km]': '', '-': 0 , ',': ''}, regex=True).astype(float).astype('Int64')
df['km']

In [ ]:
df['registration']=df['registration'].replace('-/-',np.nan,regex=True)
df['registration']

In [ ]:
df['First Registration'] = df["First Registration"].str[1].str.strip("\n")
df['First Registration']

In [ ]:
# Alternative 
df['First Registration'].apply(take_2)

In [ ]:
#Changing object to int
df['First Registration'] = df['First Registration'].astype(float).astype('Int64')
df['First Registration']

In [ ]:
df['prev_owner'] = df['prev_owner'].str.split(" ").str[0]
df['prev_owner']

In [ ]:
df["Previous Owners"] = df["Previous Owners"].apply(
    lambda x: x[0] if type(x) == list else x).replace('\\n', '', regex=True)
df["Previous Owners"]

In [ ]:
df['hp']=df['hp'].replace({'[ kW]': '', '-': np.nan}, regex=True).astype('float').astype('Int64')
df['hp']

In [ ]:
df['Type_used'] = df['Type'].str[1].str.strip("\n")
df['Type_used']

In [ ]:
df['Type_fuel']=df['Type'].str[3].str.strip("\n")
df['Type_fuel']

In [ ]:
def fueltype(x):
    if x in benzine:
        return "Benzine"
    elif x in lpg:
        return "LPG/CNG"
    else:
        return x

In [ ]:
df['Type_fuel']=df['Type_fuel'].apply(fueltype)
df['Type_fuel']

In [ ]:
df['Next Inspection Date'] = df['Next Inspection'].apply(
    lambda x: np.nan if type(x) == float else x[0]).replace("\\n","",regex=True)
df['Next Inspection Date']

In [ ]:
df["Inspection new(yes/no)"] = df["Inspection new"].apply(
    lambda x: np.nan if type(x) == float else x[0]).replace("\\\n","",regex=True)
df["Inspection new(yes/no)"]

In [ ]:
df['CO2 Emission'].apply(lambda x: np.nan
                         if type(x) == float else x[0]).replace(
                             "\\n", "", regex=True).value_counts()

In [ ]:
# aLternative 
df["CO2 Emission"] = df["CO2 Emission"].str[0].str.strip("\n")
df["CO2 Emission"]

In [ ]:
## if we only want numbers
df['CO2 Emission']=df['CO2 Emission'].str.split(" ").str[0]
df['CO2 Emission']

In [ ]:
## Alternative 
def take_1(x):
    if type(x)==float: 
        return np.nan 
    elif type(x[0])==list:
        return np.nan
    else:
        return x[0]
## if first item is nested list, we won't take it

In [ ]:
df['CO2 Emission'].apply(take_1).replace("\\n", "", regex=True).str.split(" ").str[0]

In [ ]:
df["Emission_Label_new"] = df["Emission Label"].str[0].str.split().str[1].str.strip("()")
df["Emission_Label_new"]

In [ ]:
## Alternative 1
df['Warranty_month'] = df['Warranty'].str[0].str.strip("\n").str.split(" ").str[0]
df['Warranty_month']

In [ ]:
## Alternative 2
def take_1(x):
    if type(x)==float: 
        return np.nan 
    elif type(x[0])==list:
        return np.nan
    else:
          return x[0]

In [ ]:
# alternative def 
def take_list(x,a):
    if type(x) == list:
        if len(x) > a:
            x = x[a]
        else:
            x = np.nan
    else:
        x = np.nan
    return x

In [ ]:
 df['Full Service'].apply(lambda x: take_list(x,2)).replace("\\n", "", regex=True).value_counts()

In [ ]:
def non_smoking_2(x):
    if type(x)==float:  # nan value varsa 
        return np.nan
    elif len(x)<3: #  liste icinde 3ten az item varsa
        return np.nan
    else:
        return x[2] # hepsi tutuyorsa bana 3.item getir

In [ ]:
df['Non-smoking Vehicle'].apply(non_smoking_2)

In [ ]:
# alternative def 
def take_list(x,a):
    if type(x) == list:
        if len(x) > a:
            x = x[a]
        else:
            x = np.nan
    else:
        x = np.nan
    return x

In [ ]:
def first_look(col):
    print('column name : ', col)
    print('--------------------------------')
    print('Per_of_Nulls   : ', '%', round(df1[col].isnull().sum() / df1.shape[0]*100, 2))
    print('Num_of_Nulls   : ', df1[col].isnull().sum())
    print('Num_of_Uniques : ', df1[col].nunique())
    print('Duplicates     : ', df1.duplicated(subset = None, keep = 'first').sum())
    print(df1[col].value_counts(dropna = False).sort_index())

In [ ]:
dfn["salary_min"].fillna(value="$42K-$76K (Glassdoor est.)",inplace=True)

In [ ]:
df1["SQL"]=df1["job_description"].str.contains(pat="SQL")

In [ ]:
#dfc["company_name"] = dfc.company_name.astype(str).str.extract('(\d{1,4})').astype('float') # str.extract('(\d+)')

In [ ]:
dfc.company_name.transform(lambda x: x.str.split("\r"))

In [ ]:
#simdi str[0] bziizm yukardaki liste olurtsurdugumuz her satrin ilk elamanini yazni string kismini getirdi 
#str[0] disarda calismadiysa icne alabilirsin
#sadece index [0] calismadi, ama columun tamamiicin str [0 kullanildi]

In [ ]:
dfc.company_name.transform(lambda x: x.str.split("\r")).str[0]
#matheww hocanin perfect kodu sondaki onun sihirli argumani imisi
#transform apply in ozdesi 
#apply 3 turlusu var =map, apply, aply map 
#bunlar arasindan map series ile calisir
#aply map dataframe de
#apply da ikisinde calisir
#apply da grop by yaparsaniz nan deger gelebilir manuel kontrol edilmeli
#ya degerler guncellenmeli ya da transform kullanilmali yukardaki durumda
#burda apply calismadi calismayinca transform denedik
#transform ne olursa ol gel modunda calisir
#

In [ ]:
words = list(df['comfort&convenience'].str.split(',', expand=True).stack().unique())

In [ ]:
def infos(df, x):
    print("Column name  :  "+x)#x den gelen colunm ismi yazdir
    print("-----------------------------")# cizgi cizdirir
    print("Number of nulls  :  "+str(df[x].isna().sum()))# nullarin toplami 
    print("% of nulls       :  "+str(round(df[x].isna().sum()/df.shape[0]*100,2))+"%")# nullarin data frame orani her sutun icin ortadaki islemi once str ile string yapiyor sonra strin % isareti ekliyor 
    print("Number of uniques:  "+str(df[x].nunique()))# uniqulerin sayisi hepsi stringdikat butun print ici islemler 
    print("-----------------------------\nValue Counts\n")# value counts larin yazi kismi getirir 
    print(df[x].value_counts(dropna=False))#valuen counts degerleri getirir 
  #ekrana print yazmak icin olusturlmus bir fonk,

In [ ]:
#sayisal degerler icin :
def fill_mean(df, col1, col2, x):#iki columun ort si x ilede doldurmak istedigi column
    df[x].fillna(df.groupby([col1,col2])[x].transform("mean"), inplace=True)#x columunu col1,col2 ye gore grupluyor sonra ortalamalrini alip x in bos kisimlari dolduruyor(col1 col2 grupluyor , grup by agregate ister onun icin x yani beliledigimiz columu meani almamaizi transfor ilede uygulatiyor (aplly gibi)
    if df[x].isna().sum() != 0:# isna sum ile nullara bakiyor 0 dan farkli ise alttaki kodu calistiriyor.
        df[x].fillna(df.groupby(col2)[x].transform("mean"), inplace=True)#colum 2 ye gel x i grupla mean ile x i doldur
    print("Number of NaN : ",df[x].isna().sum())# columu checkh ediyor x columunda hala null deger var mi diye control ediyor 
    print("------------------")
    print(df[x].value_counts(dropna=False))#doldurduktan sonraki value counts
    #apply dataframe ve series uygulanir bazi durumlarda hata verebilir
    #map: sadce series de calisir
    # apply map: sadece data frame de calsiir
    #transform ne olursa ol modunda, data frame ve seriesdde calisir applyin hata verdigi drumlarda bile basarilidir :)

In [ ]:
#categorik veriler icin tekli gruplama
def fill_mode(df, g, f):#bu da tekli gruplama (g bizim gruplayacagimiz colum iken, f de bizim fill edecegimiz icini dolduracagimiz colum)
    df[f] = df[f].fillna(df.groupby(g)[f].transform(lambda x: x.mode()[0]))# atama ile ise baslamis cunku burda implace true yok o yzden atama yapip kalici hale getiryoreee, 
                                                  #dolduracagimiz F columunu  g colmuna gore gruplayip, f deki bos degerleri bu gruplamadiki mod(encok tekrar eden) degeri ile doldurur
                                                  #x f deki butun satirlari dolasarak modu buluyor
    print("Number of NaN :",df[f].isna().sum())# columu checkh ediyor x columunda hala null deger var mi diye control ediyor 
    print("---------------------")
    print(df[f].value_counts(dropna=False))#doldurduktan sonraki value counts

In [ ]:
#categorik veriler icin ikili gruplama

def fill_mode2(df, col1, col2, x):#x dolduracagimiz colum col1 col2 gruplayacagimiz columlar,
    for g1 in list(df[col1].unique()):#g1 i col1 iicnde dolastiyor unique degerleri dolasiyor
        for g2 in list(df[col2].unique()):#g2 i col2 iicnde dolastiyor unique degerleri dolasiyor
            cond1 = df[col1] == g1#burda coolum birden gelen unique degerlerini buluyor ve col1==g1 ise  cond1 e atiyor liste halinde 
            cond2 = df[col2] == g2#burda coolum birden gelen unique degerlerini buluyor ve col2==g2 ise  cond2 e atiyor liste halinde 
            try:# dene ki 
                df.loc[cond1&cond2, x] = df.loc[cond1&cond2, x].fillna(df[cond1&cond2][x].mode()[0])#ilk df ksminda atama yapiyor, 
                                                                   #ikinci df x i con1 cond2 ye gore grupla bak, 
                                                                   #filnali kisimda ise cond1 cond2 ye baktin bunlarin bos oldugu yere bunlarin modunu doldur
            except:# try de uyguladigin calismaz ise bunu calistir diy0r
                df.loc[cond1, x] = df.loc[cond1, x].fillna(df[cond1][x].mode()[0])# ikili gruplama bos ise cond1 ile devam et onun modu ile doldur :) 
    
    print("Number of NaN : ",df[x].isna().sum())
    print("------------------")
    print(df[x].value_counts(dropna=False))

In [ ]:
#datada null degeerleri baska bir serinin verileri dikate alinarak doldurma 

f.loc[(df["Type"].isna()==True) & (df.km > 100),"Type"]= "Used" 
df.loc[(df["Type"].isna()==True) & (df.km < 100),"Type"]= "New"

In [ ]:
from pandas.core.dtypes.dtypes import CategoricalDtype
df1.describe(percentiles=None, include=None, exclude='category')

In [ ]:
def df_nans(df, limit):
    missing = df.isnull().sum()*100 / df.shape[0]
    return missing.loc[lambda x : x >= limit]
def column_nans(serial):
    # display percentage of nans in a Series
    return serial.isnull().sum()*100 / serial.shape[0]

In [ ]:
fig,ax = plt.subplots(figsize=(4, 10))
sns.heatmap(data=df.corr()[['price']].sort_values(by='price'),
            vmin = -1, vmax = 1, 
            annot=True, 
            cmap='BrBG')

In [ ]:
plt.figure(figsize = (14,10))
sns.heatmap(data=df.corr(), 
            annot=True, 
            cmap='Spectral');

In [ ]:
df1.duplicated().sum()
df1.astype('object').describe().T

In [ ]:
df.loc[(df["Type"].isna()==True) & (df.km > 100),"Type"]= "Used" 
df.loc[(df["Type"].isna()==True) & (df.km < 100),"Type"]= "New"

In [ ]:
df.hp.value_counts().sort_index()
#bir aracin beygiri min 60 sayinin ustunde olmali 
# 60 altinda olamaz o yuzden burda outleier deegerler var