<a href="https://colab.research.google.com/github/eildes06/Assigments/blob/main/staticalassigment5emine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EXERCISE 1. The hourly wages in a particular industry are normally distributed with mean $13.20 and standard deviation $2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test. (Wackerly, Ex.10.18)

CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

Belirli bir sektördeki saatlik ücretler normal olarak ortalama 13,20$ ve standart sapma 2,50$ ile dağıtılır. Bu sektördeki bir şirket 40 işçi çalıştırıyor ve onlara saatte ortalama 12,20 dolar ödüyor. Bu şirket standartların altında ücret ödemekle suçlanabilir mi? Bir α = .01 seviye testi kullanın.

2.Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?
CHECK: statistic: 51681473319343345, pvalue= 2.593228732352821e-06

İki tip zemin için serbest basınç deneylerinden elde edilen kesme mukavemeti ölçümleri, aşağıdaki belgede gösterilen sonuçları vermiştir (metre kare başına ton cinsinden ölçümler). Zeminler, %1 anlamlılık düzeyinde ortalama kesme dayanımına göre farklılık gösteriyor mu

3. The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.  2015 PISA Test Dataset

1.Get descriptive statistics (the central tendency, dispersion and shape of a dataset’s distribution) for each continent group (AS, EU, AF, NA, SA, OC).
2.Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.
CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

Her kıta grubu (AS, EU, AF, NA, SA, OC) için tanımlayıcı istatistikleri (bir veri kümesinin dağılımının merkezi eğilimi, dağılımı ve şekli) alın. Avrupa (AB) ve Asya (AS) ülkeleri arasında matematik puanları için (ortalama olarak) herhangi bir fark olup olmadığını belirleyin (normallik ve eşit varyanslar varsayalım).

4.The sample dataset has placement test scores (out of 100 points) for four subject areas: English, Reading, Math, and Writing. Students in the sample completed all 4 placement tests when they enrolled in the university. Suppose we are particularly interested in the English and Math sections, and want to determine whether students tended to score higher on their English or Math test, on average. We could use a paired t test to test if there was a significant difference in the average of the two tests.

Sample Dataset 2014

CHECK: statistic=36.312568981719856, pvalue=3.0710987192210606e-128

Örnek veri kümesi, dört konu alanı için (100 puan üzerinden) yerleştirme testi puanlarına sahiptir: İngilizce, Okuma, Matematik ve Yazma. Örneklemdeki öğrenciler, üniversiteye kayıt olduklarında 4 yerleştirme sınavının hepsini tamamlamıştır. Özellikle İngilizce ve Matematik bölümleriyle ilgilendiğimizi ve öğrencilerin İngilizce veya Matematik sınavlarında ortalama olarak daha yüksek puan alıp almadıklarını belirlemek istediğimizi varsayalım. İki testin ortalamasında anlamlı bir fark olup olmadığını test etmek için eşleştirilmiş bir t testi kullanabiliriz.

In [4]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
M = 13.20
sigma = 2.50
n = 40   #(Z test)
mu = 12.20
aplha = .01

Hypothesis
Ho:m=13.20
H1:m<13,20 (one tail hypo)(Left side)

n>40 test is z test

In [4]:
z=(mu-M)/(sigma/np.sqrt(n))
z

-2.5298221281347035

p value

In [5]:
p_val=stats.norm.cdf(z)
p_val

0.005706018193000826

conclusion

In [6]:
alpha=0.01
if p_val<alpha :
  print("reject the null")
else:
  print("fail to reject the null")

reject the null

exercise2:

In [21]:
df_soil=pd.read_excel("/content/soil.xlsx")
df_soil.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

Assumptions

```
INDEPENDENT T TEST

```

In [22]:
alpha=0.01

In [23]:
df_soil.Soil1.isnull().sum()

5

In [24]:
df_soil.Soil2.isnull().sum()

0

In [36]:
Soil1_n=df_soil.Soil1[df_soil.Soil1.notnull()]

In [29]:
n1=len(Soil1_n)
n1

30

In [30]:
n2=len(df_soil.Soil2)
n2

35

Hypothesis
H0:m1=m2 
H1:m!=m2 (two_tail test)

In [37]:
ind_soil=stats.ttest_ind(Soil1_n, df_soil.Soil2)
ind_soil

Ttest_indResult(statistic=5.1681473319343345, pvalue=2.593228732352821e-06)

In [38]:
t=ind_soil.statistic
t

5.1681473319343345

p_value

In [39]:
df=n1+n2-2
df

63

In [40]:
p_value=2*(1-stats.t.cdf(t,df))
p_value

2.5932287324170744e-06

In [41]:
alpha=0.01
if p_val<alpha :
  print("reject the null")
else:
  print("fail to reject the null")

reject the null

excercise 3:

In [5]:
df_pis=pd.read_excel("/content/2015 PISA Test.xlsx")
df_pis

   Country Code Continent_Code  ...   Reading   Science
0           ALB             EU  ...  405.2588  427.2250
1           ARE             AS  ...  433.5423  436.7311
2           ARG             SA  ...  425.3031  432.2262
3           AUS             OC  ...  502.9006  509.9939
4           AUT             EU  ...  484.8656  495.0375
..          ...            ...  ...       ...       ...
65          TUN             AF  ...  361.0555  386.4034
66          TUR             EU  ...  428.3351  425.4895
67          URY             SA  ...  436.5721  435.3630
68          USA            NaN  ...  496.9351  496.2424
69          VNM             AS  ...  486.7738  524.6445

[70 rows x 6 columns]

In [44]:
df_pis.head()

  Country Code Continent_Code  ...   Reading   Science
0          ALB             EU  ...  405.2588  427.2250
1          ARE             AS  ...  433.5423  436.7311
2          ARG             SA  ...  425.3031  432.2262
3          AUS             OC  ...  502.9006  509.9939
4          AUT             EU  ...  484.8656  495.0375

[5 rows x 6 columns]

In [45]:
df_pis.describe()

       internet_users_per_100        Math     Reading     Science
count               70.000000   70.000000   70.000000   70.000000
mean                71.973099  460.971557  460.997291  465.439093
std                 16.390632   53.327205   49.502679   48.397254
min                 21.976068  327.702000  346.549000  331.638800
25%                 60.899020  417.416075  426.948625  425.923375
50%                 72.999350  477.607150  480.199850  475.400050
75%                 85.026763  500.482925  499.687475  502.431250
max                 98.200000  564.189700  535.100200  555.574700

In [46]:
df_pis.describe().T

                        count        mean  ...         75%       max
internet_users_per_100   70.0   71.973099  ...   85.026763   98.2000
Math                     70.0  460.971557  ...  500.482925  564.1897
Reading                  70.0  460.997291  ...  499.687475  535.1002
Science                  70.0  465.439093  ...  502.431250  555.5747

[4 rows x 8 columns]

In [48]:
df_pis.groupby("Continent_Code").describe().T

Continent_Code                        AF          AS  ...          OC          SA
internet_users_per_100 count    2.000000   17.000000  ...    2.000000    7.000000
                       mean    43.359918   68.455613  ...   86.391704   60.180494
                       std      7.297226   21.086060  ...    2.589686    9.772455
                       min     38.200000   21.976068  ...   84.560519   40.900000
                       25%     40.779959   50.300000  ...   85.476112   57.116462
                       50%     43.359918   74.000000  ...   86.391704   64.289000
                       75%     45.939877   84.948353  ...   87.307296   66.321532
                       max     48.519836   92.884826  ...   88.222889   69.198471
Math                   count    2.000000   17.000000  ...    2.000000    7.000000
                       mean   363.212100  466.216647  ...  494.559750  402.887700
                       std      5.099513   64.356490  ...    0.938401   18.128894
                       min    359.606200  380.259000  ...  493.896200  377.069500
                       25%    361.409150  403.833200  ...  494.227975  388.102200
                       50%    363.212100  459.816000  ...  494.559750  409.033300
                       75%    365.015050  531.296100  ...  494.891525  417.617650
                       max    366.818000  564.189700  ...  495.223300  422.671400
Reading                count    2.000000   17.000000  ...    2.000000    7.000000
                       mean   355.457400  454.059682  ...  506.085650  425.359229
                       std      7.916909   57.048962  ...    4.504341   19.709688
                       min    349.859300  346.549000  ...  502.900600  397.541400
                       25%    352.658350  408.102200  ...  504.493125  416.126900
                       50%    355.457400  433.542300  ...  506.085650  425.303100
                       75%    358.256450  508.690500  ...  507.678175  431.922700
                       max    361.055500  535.100200  ...  509.270700  458.570900
Science                count    2.000000   17.000000  ...    2.000000    7.000000
                       mean   381.074250  467.945847  ...  511.648700  421.747186
                       std      7.536556   56.671371  ...    2.340241   18.470319
                       min    375.745100  386.485400  ...  509.993900  396.683600
                       25%    378.409675  417.611200  ...  510.821300  408.205450
                       50%    381.074250  456.483600  ...  511.648700  424.590500
                       75%    383.738825  523.277400  ...  512.476100  433.794600
                       max    386.403400  555.574700  ...  513.303500  446.956100

[32 rows x 5 columns]

In [49]:
df_pis[df_pis.Continent_Code=="EU"]["Math"].isnull().sum()

0

In [50]:
df_pis[df_pis.Continent_Code=="AS"]["Math"].isnull().sum()

0

In [6]:
n1=len(df_pis[df_pis.Continent_Code=="EU"])
n1

37

In [7]:
n2=len(df_pis[df_pis.Continent_Code=="AS"])
n2

17

*hypothesis*
H0: m1=m2
   H1: m1!=m2(two side)

In [9]:
ind_pis= stats.ttest_ind(df_pis[df_pis.Continent_Code=="EU"]["Math"],df_pis[df_pis.Continent_Code=="AS"]["Math"])
ind_pis

Ttest_indResult(statistic=0.8700553179679787, pvalue=0.38826888111307556)

In [10]:
t_pis=ind_pis.statistic
t_pis

0.8700553179679787

p_value

In [11]:
df=n1+n2-2
df

52

In [13]:
p_value=2*(1-stats.t.cdf(t_pis,df))
p_value

0.38826888111307545

In [16]:
alpha=0.05  #default
if p_value<alpha :
  print("reject the null")
else:
  print("fail to reject the null")

fail to reject the null

exercise4:

In [17]:
df_sample=pd.read_excel("/content/students_2014.xlsx")
df_sample.head()

       ids       bday enrolldate  ... CommuteTime  SleepTime StudyTime
0  43783.0 1995-03-22        NaT  ...         NaN        7.0       1.0
1  20278.0 1995-01-01        NaT  ...         NaN        5.0       2.0
2  20389.0 1994-12-31        NaT  ...         NaN        8.0       7.0
3  22820.0 1994-12-01        NaT  ...         NaN        2.0       6.0
4  24559.0 1994-11-10        NaT  ...         NaN        7.0       3.0

[5 rows x 23 columns]

In [18]:
df_ex4=pd.DataFrame(df_sample.loc[:,["English","Math"]])
df_ex4

     English   Math
0      88.24  60.02
1      89.45  70.19
2      96.73  71.20
3      74.06  55.89
4      82.61  65.52
..       ...    ...
430    87.72  65.31
431    91.01  70.25
432    81.05  58.16
433    75.59  66.84
434    75.65  60.24

[435 rows x 2 columns]

In [19]:
df_dropen=df_ex4.English.dropna()
df_dropen

0      88.24
1      89.45
2      96.73
3      74.06
4      82.61
       ...
430    87.72
431    91.01
432    81.05
433    75.59
434    75.65
Name: English, Length: 409, dtype: float64

In [20]:
df_dropmt=df_ex4.Math.dropna()
df_dropmt

0      60.02
1      70.19
2      71.20
3      55.89
4      65.52
       ...
430    65.31
431    70.25
432    58.16
433    66.84
434    60.24
Name: Math, Length: 422, dtype: float64

In [21]:
df_ex4.English.isnull().sum()

26

In [22]:
df_ex4.Math.isnull().sum()

13

In [23]:
n1=len(df_dropen[df_dropen.notnull()])
n1

409

In [24]:
n2=len(df_dropmt[df_dropmt.notnull()])
n2

422

hypotesis
H0: m1=m2
H1: m1!=m2 (2 sided test)

In [25]:
ind_ex4=stats.ttest_ind(df_dropen,df_dropmt)
ind_ex4

Ttest_indResult(statistic=32.59188089176449, pvalue=1.2521075466222401e-150)

In [26]:
tt=ind_ex4.statistic
tt

32.59188089176449

p_value

In [27]:
ind_ex4.pvalue

1.2521075466222401e-150

In [28]:
df=n1+n2-2
df

829

In [33]:
p_value = 2*(1-stats.t.cdf(tt,df))
p_value

0.0

In [35]:
alpha=0.01
if p_value<alpha :
  print("reject the null")
else:
  print("fail to reject the null")

reject the null